[2019-11-08 19:47] mikedoan opened #4 "Improve the UI"
1/ Go through all the cases/situations and change ATOM to ONE
2/ go to Network session and change cosmos to harmony. We expect to have Harmony Mainnet and Harmony Testnet there.

[2019-11-13 21:23] mikedoan opened #10 "move mock data from frontend to server side"
Right now there are some mock data at frontend. let's implement it at server side with the same mock data and have a call at client to the server.

[2019-11-14 22:55] mikedoan opened #13 "Fix blocking message from Send"
Sometimes we got this message even we had not tried to create any transaction.
[code]
![Screen Shot 2019-11-14 at 2 54 30 PM](https://user-images.githubusercontent.com/40258599/68903036-b3fe6c00-06ee-11ea-9263-ab3cbe9b5046.png)

[2019-11-16 16:17] mikedoan opened #20 "network type + getbalance"
in https://github.com/harmony-one/staking-dashboard/pull/19/files you were using fixed url URL_MAINNET = `https://api.s0.t.hmny.io` which is not the right design.

the url should be grabbed from the store and it can be change when users change network type.

whenever changing the networks we need to recalculate all data info related to new network.

we probably need to have 2 constant URLs for tes

[2019-11-17 01:59] mikedoan opened #22 "handling errors of api calls"

[2019-11-18 02:25] mikedoan opened #26 "make Send (transfer) working and Staking working"
GOAL: make Send balance and staking working.

currently it requires 2 pr (one from staking-dashboard, and one from wallet)

https://github.com/harmony-one/staking-dashboard/pull/25
https://github.com/harmony-one/wallet-extension

Testing accounts in testnet: we can recover accounts with the following phrases with our wallet extension

`genius cable radar memory high catch blossom correct middle wi

[2019-11-19 07:51] mikedoan opened #29 "change block confirmation as tx and UI fix"
![Screen Shot 2019-11-18 at 11 48 03 AM](https://user-images.githubusercontent.com/40258599/69126932-25774b00-0a5e-11ea-9697-cbe4364a48a4.png)

For testnet, the link we should use to show the tx confirmation is
`https://explorer.testnet.harmony.one/#/tx/${tx_id}`
For testnet, the link we should use to show the tx confirmation is `https://explorer.harmony.one/#/tx/${tx_id}`

[2019-11-19 07:59] mikedoan opened #30 "UI polish"
![WechatIMG2](https://user-images.githubusercontent.com/40258599/69127603-6328a380-0a5f-11ea-8d29-95c2b641ef7e.jpeg)

Change 1, 2, 2 to Mainnet, Testnet, Localnet.

[2019-11-19 08:11] mikedoan opened #31 "Add an option for nano ledger to sign"
Basically we will support 2 options to sign&send.

wallet-extension and nano ledger.

we need to add UI (similar to UI) to support the option.
When we use nano ledger to sign - the frontend will call an api to send the txn to nanoledger to sign and return a signed txn - then we will send the txn to blockchain.

As for this ticket - we just need to do UI part. Another team member, HB, has the api c

[2019-11-19 08:14] mikedoan opened #32 "Support sign&send for staking"
The picture attached shows the staking transaction.

The flow will be similar to trasnfer tx - but we need to send extra params to tell chrome extension that it's for staking txn. and there we will create staking, sign and send to blockchain.

<img width="1389" alt="Screen Shot 2019-11-19 at 12 12 04 AM" src="https://user-images.githubusercontent.com/40258599/69128496-44c3a780-0a61-11ea-97a5-e3c2a

[2019-11-19 12:42] #4 closed, assigned to potvik

[2019-11-19 12:42] #10 closed, assigned to nobody

[2019-11-19 12:42] #20 closed, assigned to nobody

[2019-11-19 12:42] #22 closed, assigned to nobody

[2019-11-19 12:42] #26 closed, assigned to nobody

[2019-11-19 19:37] potvik opened #34 "Add loaders for extension"

[2019-11-20 13:05] #30 closed, assigned to nobody

[2019-11-20 13:05] #29 closed, assigned to nobody

[2019-11-20 13:05] #34 closed, assigned to nobody

[2019-11-23 23:46] mikedoan opened #37 "ui issues for network page"
when the local network is not started - the UI of mainnet and testnet wasn't shown properly.

let's think about that.

[2019-11-27 07:10] potvik opened #40 "Check the balance display"
really i have 0x334c5ef9ddfd5d244

I see this 59,142 in my portfolio

59 thousand?
or just 59 tokens and ...

[2019-11-27 07:17] potvik opened #41 "Response validators data for each network by networkID"
Response validators data for each network by networkID

Now we response data only for localnet

1) Fetch and cache validator data for all networks from config
2) Response to frontend by network Id

[2019-12-04 22:48] mikedoan opened #50 "unable to unstake after staking"
<img width="891" alt="Screen Shot 2019-12-04 at 2 48 21 PM" src="https://user-images.githubusercontent.com/40258599/70188298-2b4b6e00-16a5-11ea-826b-0760dfbd5be7.png">
<img width="1016" alt="Screen Shot 2019-12-04 at 2 48 16 PM" src="https://user-images.githubusercontent.com/40258599/70188299-2b4b6e00-16a5-11ea-80a5-dbdcfc6d1094.png">

[2019-12-05 19:02] mikedoan opened #55 "feature request from sahil"
Website Validator List Homepage:
- At the top we should how current effective median stake
- At the top we should show current block number, which can hyperlink to blockchain explorer
- At the top we should have how many validators/seats active right now.  - no need now from RJ
- Active status shows they are up/live at current block? Does it also imply that these validators are successfully valida

[2019-12-06 20:48] #13 closed, assigned to nobody

[2019-12-06 20:49] #31 closed, assigned to nobody

[2019-12-06 20:49] #32 closed, assigned to nobody

[2019-12-06 20:50] #41 closed, assigned to nobody

[2019-12-06 21:31] potvik opened #63 "[critical] the amount of Total ONE should equal to Available ONE + any rewards earning by the validators"
![2019-12-07_00-30-02](https://user-images.githubusercontent.com/57394565/70357805-dbc59780-1888-11ea-9c1c-e1d27617be63.png)

[2019-12-07 06:03] mikedoan opened #65 "add limit of staking by the remaining available stakes"
to get the remaining  available stake, using this pr https://github.com/harmony-one/staking-dashboard/pull/54/files

When the user specifies higher than the possible amount he can stake successfully, print out the validation message.

[2019-12-07 06:04] mikedoan opened #66 "local storage cache for network type"
When the user refreshes, the network may go back to the default network type. let's do store in local storage and pull the variable from there.

[2019-12-07 08:53] mikedoan opened #67 "unsuccessful txn notification"
* if a transaction fails to get committed into the blockchain, we should  print that result at frontend.

[2020-01-07 16:44] coolcottontail opened #73 "https://staking-explorer.firebaseapp.com/ doesn't display balance correctly"
this is used for ledger certification. and ledger address shows no balance but explorer has balance.

https://explorer.harmony.one/#/address/one1mc3z0m8zuc09dcsu6kwwu5jp232qszzyg7qfs3
 Address is   one1mc3z0m8zuc09dcsu6kwwu5jp232qszzyg7qfs3
Balance    998.7654399999994

[2020-01-08 19:36] coolcottontail opened #74 "Replace all "Cosmos" in the app with "Harmony""
When using ledger for sending tokens,  user is prompted to open the cosmo app instead of the harmony app

https://files.slack.com/files-pri/T0QU4N1U1-FSFQWDZU7/testsend2.png

[2020-01-08 19:37] coolcottontail opened #75 "Handling the case if a user refused to sign Txn from ledger."
If the user refuses the transaction on the device, a message saying the transaction is sent and confirming gets displayed.

[2020-01-23 21:18] #75 closed, assigned to nobody

[2020-01-23 21:18] #74 closed, assigned to nobody

[2020-01-23 21:21] #73 closed, assigned to mikedoan

[2020-01-23 21:23] #66 closed, assigned to nobody

[2020-01-23 21:28] #37 closed, assigned to nobody

[2020-01-23 21:30] #65 closed, assigned to nobody

[2020-02-04 19:54] mikedoan opened #83 "call the hmy_getMedianRawStakeSnapshot at backend to fill `Effective median stake` at frontend"
call the hmy_getMedianRawStakeSnapshot at backend to fill  `Effective median stake` at frontend

[2020-02-17 19:00] mikedoan opened #93 "reward shown in mainnet"
Rewards have been shown when switching to mainnet after playing with openstaking

![image](https://user-images.githubusercontent.com/40258599/74680148-979e1f80-5174-11ea-9c04-397a7ae73c24.png)

[2020-02-19 12:25] SebastianJ opened #94 "Validator name should be truncated"
A validator's name can be up to 140 characters - so you need to truncate the validator name appropriately when it's displayed in the UI, e.g. a maximum of 30 characters in the validator list etc.

Example of this happening on OSTN:
![Validator name length bug](https://i.imgur.com/JWAnpTZ.png)

[2020-02-19 12:48] yelllowsin opened #95 "Current block number leads to wrong link"
Current block number leads to wrong link on [Staking dashboard](https://staking.harmony.one/validators) as shown by the image bellow. It leads to /tx instead of /block:

![current_block](https://user-images.githubusercontent.com/7217595/74835692-a7e10680-52fc-11ea-9ff4-dc4275c0b48a.jpg)

Current link leads to:
https://explorer.os.hmny.io/#/tx/0x478c76bc974f339f33bec92ebde834e42763d161affb8a1344133

[2020-02-19 17:08] yelllowsin opened #97 "Validator page stuck/not loading"
Current [Staking Dashboard](https://staking.harmony.one/validators) is not loading the information data for some validators. It shows the message on the image bellow and never ends loading while the whole Staking Dashboard gets stuck (it is not possible to navigate to any other part of the Staking Dashboard):
![data_loading](https://user-images.githubusercontent.com/7217595/74856427-e12b6d80-5320-

[2020-02-19 17:14] BrunoMarshall commented on #97
The Validator one1km7xg8e3xjys7azp9f4xp8hkw79vm2h3f2lade is active and having bingos,
-> Seb mentioned  : "Could be that the Firebase app/db isn’t syncing data properly, resulting in the endpoint just 301:ing or something due to a failure"
resulting in a loop....

![image](https://user-images.githubusercontent.com/35432495/74857018-5e67da00-5343-11ea-9563-344d92530438.png)

[2020-02-19 21:16] yelllowsin commented on #97
Fixed, closing.

[2020-02-19 21:16] yelllowsin commented on #94
@SebastianJ seems to be fixed, you can clase this one.

[2020-02-19 21:18] yelllowsin commented on #93
This seems to be fixed on current version, can be closed.

[2020-02-20 02:24] #94 closed

[2020-02-20 06:20] BrunoMarshall opened #98 "Staking Explorer - the "time until next epoch" is frozen /not working -11hours 59 minuts"
In the Staking Explorer address portfolio - the "time until next epoch" is frozen/not working

[2020-02-20 06:24] BrunoMarshall commented on #98
![image](https://user-images.githubusercontent.com/35432495/74906682-03210080-53b2-11ea-80b3-4170ef5df7b3.png)

[2020-02-20 06:31] BrunoMarshall opened #99 "Staking Dashboard - the Stake allocation don´t show the validator names if they are not in the validator list"
in the "Portfolio" the stake allocation don´t show the validators that are not in the list (30) , if we delegate to some validator using CLI, and if that validator is not in the Staking Dashboard list, the name will appear:  "undefined"
Should appear the correct name
![image](https://user-images.githubusercontent.com/35432495/74907111-fbae2700-53b2-11ea-9d57-15466974902a.png)

[2020-02-20 06:34] BrunoMarshall opened #100 "Staking - Dashboard - "Staked since" time frozen at "2 days ago""
In the Staking - Dashboard profile - the "Staked since" time frozen at "2 days ago"
is value is not correct
![image](https://user-images.githubusercontent.com/35432495/74907294-5e072780-53b3-11ea-807b-fd23adc5964c.png)

[2020-02-20 07:54] BrunoMarshall commented on #97
Today i´m still having this issue again, yesterday as fixed, but today is not working

[2020-02-20 13:19] yelllowsin commented on #97
@BrunoMarshall confirmed that the issue is back somehow. Reopening

[2020-02-20 16:23] yelllowsin commented on #97
Don't know what happened, seems there was a rollback on changes? Now seem to be working again, weird.

[2020-02-20 16:23] #97 closed

[2020-02-20 20:29] BrunoMarshall opened #103 "Staking - dashboard - Performance and number of nodes not correct"
In the staking Dashboard - validator "profile" the performance and number of nodes are not correct
in this specific case the up-time for this validator should be near 100% because is running since the beginning and the nodes should be one.
![image](https://user-images.githubusercontent.com/35432495/74975783-ea533200-5427-11ea-8b99-aea902371f4a.png)

[2020-02-20 20:44] BrunoMarshall opened #104 "Staking - Dashboard - Proposal to have a "calculator" with "manual input" integrated in the validator´s page"
The proposal is to have a "calculator" integrated in the validator page, so we can enter an number of tokens delegated and we get immediately an estimate of the rewards over time.
exemple this website:
https://www.stakingrewards.com/asset/cosmos
or this
https://www.stakingrewards.com/asset/elrond
![image](https://user-images.githubusercontent.com/35432495/74976829-c85aaf00-5429-11ea-95b1-83814e690

[2020-02-21 01:34] JB273 commented on #99
Can confirm this is still not working!
![image](https://user-images.githubusercontent.com/54506968/74995977-a45f9380-5452-11ea-8bd2-81d323405f99.png)

[2020-02-21 07:06] BrunoMarshall opened #106 "Staking Dashboard - Not all Validators are shown in the Validator/Delegation page"
The validator page shows only the first 30 validators that are created not All Validators.
and also showing the wrong status.

Validator page should show All validators, or at least the best 1000 (for example) and should be shown as a ranking, best validators% are in the top.

Also in the Delegation page:
For example delegation in staking explorer shows ONLY 2 validators instead of 6:

[2020-02-21 10:48] yelllowsin opened #107 "Voting Power shows as 0"
Voting power is showing as zero on de [Staking Dashboard](https://staking.harmony.one/validators) as shown by the image bellow:
![voting_power](https://user-images.githubusercontent.com/7217595/75028064-60828380-547e-11ea-813e-a1fd27b86b99.jpg)
The voting power information is already available through the API here:

`./hmy --node https://api.s0.os.hmny.io blockchain validator metrics one16ugr8apt4

[2020-02-21 13:07] yelllowsin opened #108 "Amount claimed is wrong"
When you claim your rewards the amount is wrong. It seems there is an UI issue with decimals or so. Probably because the amount is in wei and needs to be converted to ONE?
![claim_rewards](https://user-images.githubusercontent.com/7217595/75037026-012e6e80-5492-11ea-9424-d32f8a42959f.jpg)

[2020-02-22 20:41] BrunoMarshall commented on #108
Confirmed the issue, reported also from JB273

[2020-02-23 13:35] mindstyle85 commented on #108
think that amount on the right is in wei, but would be great if its unified @mikedoan

[2020-02-24 21:43] JB273 opened #113 "When opening SD from chrome wallet it goes to the wrong URI"
When opening the Staking Dashboard with the Chrome Wallet Extension it send the user to the wrong URI, https://staking-explorer.firebaseapp.com/extension

From a fresh browser-windows select Harmony Chrome Wallet:
1. ![image](https://user-images.githubusercontent.com/54506968/75193303-3f5bb480-5756-11ea-9b6e-5e82653befcf.png)

2. ![image](https://user-images.githubusercontent.com/54506968/75193444

[2020-02-25 19:44] mikedoan commented on #95
it's fixed now

[2020-02-25 19:50] mikedoan commented on #113
thank you for filing the bug - fixed - tested

[2020-02-25 21:06] #95 closed

[2020-02-25 21:09] mikedoan commented on #108
thanks for filing. fixed now.

[2020-02-25 21:09] #108 closed

[2020-02-25 22:43] mikedoan commented on #100
we don't have "Staked since" anymore

[2020-02-25 22:59] mikedoan commented on #100
wrong call - I will take a look at this.

[2020-02-28 00:31] mindstyle85 opened #128 "cosmetic - when refreshing site, selected network defaults back to testnet"
Would it be possible that upon refreshing the page, the selected network doesnt get defaulted back to testnet? if looking at OpenStaking validators list and refresh the page, it will show the validator page, but for testnet..

[2020-02-28 00:35] mindstyle85 opened #129 "cosmetic - searching validators through multiple pages"
Right now the search only works for current page, not for all pages. Would be great if search worked through all of the paginations like on other sites

[2020-02-28 00:52] mindstyle85 commented on #128
actually once you sign in with an address, it also defaults back to testnet, got me confused a bit at first..

[2020-02-28 01:41] JB273 commented on #128
If it's not easy, maybe show a landing-page first which shows you the available networks?

[2020-02-28 01:44] mindstyle85 commented on #95
looks fixed but when it redirect to the explorer block hash, it just spins endlessly with loading message

[2020-02-28 01:44] JB273 commented on #113
This works correct now also from latest Chrome Wallet Extension (this seems to be Beta though??)

[2020-02-28 01:44] #113 closed

[2020-02-28 01:47] JB273 commented on #107
Voting Power seems to be fixed now:
![image](https://user-images.githubusercontent.com/54506968/75502975-a090bb80-59d4-11ea-84be-55d9323643e9.png)
@yelllowsin can you confirm and close this one?

[2020-02-28 19:45] yelllowsin commented on #95
Yeh seems fixed to me too. Waiting for the new network to check again. At least last block is loading correctly: https://explorer.os.hmny.io/#/block/0xd27ecb7cd7d269651c55469bffe1bffbfba65951f9973e730a08f6a29a41dcb5

[2020-02-28 19:47] yelllowsin commented on #107
@JB273 yeh, seems to be fixed for me. Will confirm if the amounts are correct once we get the network back so i can close it.

[2020-02-29 01:25] mindstyle85 commented on #128
fixed

[2020-02-29 01:25] #128 closed

[2020-02-29 01:26] mindstyle85 opened #133 "Validator reward rate is non 0 on my non bingoing validator"
So my rewards rate is more than 0% even though my node cant sync, so its not producing bingos either.

![scr](https://user-images.githubusercontent.com/55639830/75598272-d8623680-5a9a-11ea-9a41-9cc583299a95.png)

[2020-02-29 03:21] JB273 opened #134 "Not Elected indication breaks up on table"
When your Validator is "not elected" is show a "NOT ELECTED" indication in the status table.
This doesn't display nicely:

![image](https://user-images.githubusercontent.com/54506968/75600029-f172e380-5aaa-11ea-9d12-235b793252ec.png)

[2020-02-29 10:40] JB273 opened #135 "Graphs on validator page show wrong date on last value"
When on the Validator page (https://staking.harmony.one/validators/one1gjsxmewzws9mt3fn65jmdhr3e4hel9xza8wd6t), you'll see the "Rate history graph", this has a wrong last entry regarding the date, it states 02.23, should be today's date of course.
**Update:** Looking further at these graphs it seems dates are all mixed up!

![image](https://user-images.githubusercontent.com/54506968/75605951-323d1

[2020-02-29 10:45] JB273 commented on #135
Same goes for the other graphs on the validator page, "Stake & Delegation history", "Commission"

![image](https://user-images.githubusercontent.com/54506968/75606002-d6bf5f80-5ae8-11ea-8db1-386bd75f335e.png)

![image](https://user-images.githubusercontent.com/54506968/75606012-ec348980-5ae8-11ea-978d-e62e4176575f.png)

[2020-02-29 13:02] yelllowsin commented on #107
@JB273 just checked on the newly deployed network, voting power matches with CLI for my node, so alright. Closing this issue.

[2020-02-29 13:02] #107 closed

[2020-02-29 13:39] mindstyle85 opened #136 "delegating over the validator max doesnt return appropriate error message"
It should return that the amount delegated is over the maximum for the validator or something, not just that it failed because this way people have no idea whats wrong

![scr](https://user-images.githubusercontent.com/55639830/75608605-50634780-5b01-11ea-92d4-532e9c28a6a9.png)

[2020-02-29 20:43] BrunoMarshall commented on #106
I can close this issue, with the new version all validators are shown

[2020-02-29 20:43] #106 closed

[2020-02-29 20:55] BrunoMarshall opened #138 "Staking Dashboard - Validator voting power seems not reliable"
The validator "Voting Power" seems not correct, I have created pseudo validators (that are not running a node) and have more voting power that the validators that are effectively running a node:
![image](https://user-images.githubusercontent.com/35432495/75614902-a950d100-5b3d-11ea-9f51-17a7269e8347.png)
exemple the "Bruno Marshall Validator Staking 6" has voting power 2.04% (this validator is not

[2020-03-01 21:38] BrunoMarshall opened #139 "Staking dashboard - "Self delegations" name should be "Delegated" or "My Delegations"?"
Seems confusing the name "Self delegations" in the page of the validator, better name is "Delegated" or "my delegations"

![image](https://user-images.githubusercontent.com/35432495/75634035-4da04980-5c0a-11ea-9e9d-db7009dbf1b4.png)

[2020-03-01 21:44] BrunoMarshall commented on #98
I will close this issue, with the new version the "time until next epoch" is not frozen anymore.

[2020-03-01 21:44] #98 closed

[2020-03-01 21:45] BrunoMarshall commented on #99
With the new staking explorer version, we don´t have this issue anymore, i will close this issue. Thank you

[2020-03-01 21:48] BrunoMarshall commented on #100
I confirm, we don´t have "staked since" anymore with the new version, I will close this issue. Thank you

[2020-03-01 21:48] #100 closed

[2020-03-02 00:06] mindstyle85 opened #140 "3 small cosmetics"
Firstly, if we use delegate/undelegate, wouldnt it be good to change stake/unstake buttons too? Just to unify everything to delegate/undelegate?

And second thing, when trying to delegate, there is this message:
![screen](https://user-images.githubusercontent.com/55639830/75636763-d5458280-5c21-11ea-9c83-43b3429924cc.png)

It will take 21 days to unlock your tokens after a delegation and there is

[2020-03-02 20:25] denniswon opened #142 "[China] Latency seems to be an issue: deploy app engine near in Asia East region"
Reported by yuyi@harmony.one
Tested with wifi and 4G of mainland China

[2020-03-02 20:26] denniswon commented on #142
@mikedoan I don't have permission to assign issues for issues in this project.
Please open access level to all harmony-core.

cc: @LeoHChen

[2020-03-02 20:29] denniswon opened #143 "Validators section on the left does not load the first time"
For Validators not loading issue (infinite loading loop), also have the same problem (US in office). Not a China specific issue. Only when you choose a network on the Network section, then the validators page loads.

cc: @mikedoan @yuriy

[2020-03-02 20:32] denniswon opened #144 "[China] Networks page not displaying"
Networks page not displaying: seems to be an issue (my guess is that while firestore, app engine data traffic are getting through, all the media image assets are being blocked by China firewall.)

cc: @LeoHChen @mikedoan

[2020-03-02 21:06] mikedoan commented on #142
interesting - let me think of this

[2020-03-02 21:08] mikedoan commented on #144
working for me
![image](https://user-images.githubusercontent.com/40258599/75717870-d3fa7100-5c86-11ea-9869-2e938f558a63.png)

[2020-03-02 21:14] mikedoan commented on #143
i even tested with 3g fast network and it's working well too

[2020-03-02 21:17] mikedoan commented on #142
not able to reproduce - i tested by using 3g fast network and it's working fine

[2020-03-02 21:19] JB273 commented on #143
We are testing new OSTN and can confirm all P-OPS have same trouble with the validator page. Does not load when clicking on "Validator"

[2020-03-02 21:20] mikedoan commented on #144
not able to reproduce - It's working for @Daniel-VDM too

[2020-03-03 16:33] mikedoan commented on #136
Yuriy i think we already limit the amount at the frontend? Can you please check?

[2020-03-03 18:53] mikedoan commented on #144
let me close this one

[2020-03-03 18:53] #144 closed

[2020-03-03 19:19] #140 closed

[2020-03-03 19:46] #136 closed

[2020-03-03 20:08] mikedoan commented on #138
it was 3 days ago. and we have fixed this yesterday by discussing with rj. please @BrunoMarshall check if your report. is still valid.

[2020-03-03 20:08] #138 closed

[2020-03-03 23:48] BrunoMarshall opened #148 "Staking Dashboard - Effective median stake not correct"
In the staking Dashbord the Median Stake seems not correct, please see the image below:

![image](https://user-images.githubusercontent.com/35432495/75830704-c097f480-5db1-11ea-8a63-f63944bfaa48.png)

[2020-03-04 07:41] mikedoan commented on #129
fixed

[2020-03-04 07:41] #129 closed

[2020-03-04 07:43] mikedoan commented on #143
this is already fixed

[2020-03-04 07:43] #143 closed

[2020-03-04 07:45] mikedoan commented on #133
@mindstyle85 can you check if this bug is still valid?

[2020-03-04 07:45] mikedoan commented on #133
asked @mindstyle85 in discord to check

[2020-03-04 11:18] mindstyle85 commented on #133
this still shows non zero reward rate for non bingoing validators, you can check any bubz that are not in comittee at the moment (and they never were bingoing since theyre just create validator tests without actually running the node)

![screen](https://user-images.githubusercontent.com/55639830/75874533-316ef900-5e12-11ea-8946-bb166493923f.png)

[2020-03-04 13:22] BrunoMarshall commented on #138
Thank you @mikedoan , I confirm that with the latest version the issue is solved. Highly appreciate your support

[2020-03-04 18:26] BrunoMarshall commented on #148
I have performed tests comparing the "Median Stake" in staking explorer against the hmy, and was always correct ./hmy command:  ./hmy blockchain median-stake -n http://34.228.217.167:9500

and the number of elected validators also correct to the .hmy command : ./hmy --node="https://api.s0.os.hmny.io" blockchain validator elected
![image](https://user-images.githubusercontent.com/35432495/75910069-

[2020-03-05 18:14] janet-harmony opened #155 "[Backend] Need API to query to check if Block Explorer & Staking Dashboard are working"
Want to be able to display the status of Block Explorer & Staking Dashboard on the status page.

[2020-03-05 19:11] janet-harmony opened #156 "[Chrome Extension] Conflicting messages from Dashboard & Extension when undelegating"
Delegated 100k ONE to a validator. When I undelegate the 100k ONE using the Staking Dashboard, the Chrome Extension says "Successfully sent ONE" to the validator address.

<img width="576" alt="Screen Shot 2020-03-04 at 8 36 36 PM" src="https://user-images.githubusercontent.com/56005637/76016232-54141700-5ed1-11ea-9003-8cb6fbc1f261.png">

[2020-03-05 19:12] denniswon commented on #155
@janet-harmony we can just a liveness check with a ping to https://staking.harmony.one/liveness or https://explorer.harmony.one/liveness (@mikedoan both websites' backend will need to just create a simple endpoint /liveness where it will respond to such ping.)

[2020-03-05 19:17] janet-harmony opened #157 "Network Fee is not synced between Extension display & Dashboard display"
Network fee is not the same between the Chrome Extension display & the Staking Explorer.

<img width="572" alt="Screen Shot 2020-03-04 at 7 42 10 PM" src="https://user-images.githubusercontent.com/56005637/76016925-8f631580-5ed2-11ea-9f85-6c3e16a7b62e.png">
<img width="403" alt="Screen Shot 2020-03-04 at 7 42 33 PM" src="https://user-images.githubusercontent.com/56005637/76016932-92f69c80-5ed2-11e

[2020-03-05 19:24] janet-harmony opened #158 "[Staking Dashboard] Rounding Issue on Max Delegation"
Max Delegation: 199,999.999999999
`hmy_getValidatorInformation` returns 200000000000000000000000 in Atto

<img width="884" alt="Screen Shot 2020-03-05 at 11 23 25 AM" src="https://user-images.githubusercontent.com/56005637/76017615-bf5ee880-5ed3-11ea-9a3d-95e7abd58c48.png">

<img width="576" alt="Screen Shot 2020-03-05 at 11 19 10 AM" src="https://user-images.githubusercontent.com/56005637/7601725

[2020-03-05 22:52] janet-harmony opened #160 "[Staking Explorer] Validator profile page pop-up UI"
When you click "Stake" & "Unstake" buttons on the Validator profile & it will open the "Delegate" box and the "Undelegate" box. Expected behavior to close the current open box & then open the newly selected one.

<img width="567" alt="Screen Shot 2020-03-04 at 8 33 03 PM" src="https://user-images.githubusercontent.com/56005637/76033265-ac0e4600-5ef0-11ea-8904-43704ae264cb.png">

[2020-03-06 01:44] janet-harmony opened #163 "[Staking Dashboard] Remove warning on Collect Rewards"
Confirmed with Howard that this warning doesn't apply to us. I think it's legacy from Lunie.

<img width="566" alt="Screen Shot 2020-03-05 at 12 06 08 PM" src="https://user-images.githubusercontent.com/56005637/76042151-cd7b2c00-5f08-11ea-9e5a-dbcc6e2287cc.png">

[2020-03-06 18:47] janet-harmony opened #166 "[Staking Dashboard] Self-delegation amount is counted twice in Stake & Delegation History Graph"
Total Stake is 20. But the graph shows 10 self-delegated + 20 ONE delegated. Looks like the self-delegation is being counted twice for the graph.

<img width="565" alt="Screen Shot 2020-03-06 at 10 46 54 AM" src="https://user-images.githubusercontent.com/56005637/76112814-d109c400-5f97-11ea-9fa1-ea9445f22384.png">

[2020-03-06 22:17] lijiang2087 opened #167 ""Reloading" should let you stay on the same network, instead of always defaulting to Open Staking Testnet"
li and minh discussed the issue:

Li | Harmony.oneToday at 2:09 PM
minh
the issue is
when you "reload" the tab
mikedoan | HarmonyToday at 2:10 PM
hi
Li | Harmony.oneToday at 2:10 PM
it always jumps back to the open staking validators
even after i choose partners
mikedoan | HarmonyToday at 2:10 PM
yes because there was a request asking me to do that
Li | Harmony.oneToday at 2:10 PM
oh?
mikedoan | H

[2020-03-06 22:18] lijiang2087 commented on #167
@mikedoan

[2020-03-07 12:27] scraido opened #169 "Proposal - Add ability to remove another wallet on Google Chrome Harmony Extensions, in case i wrong place my ONE Address"
When i see there's no button to remove my address, i was wondering if i can look this ability add to the Chrome Extensions as well as metamask have, thank you

![staking-dashboard](https://user-images.githubusercontent.com/44559893/76143396-aad44900-60a9-11ea-9e1d-43ade242c80e.png)

[2020-03-07 15:49] scraido commented on #169
of course the UI drawing above is just an ilustration, you can make it as you want ;)

[2020-03-07 17:50] lijiang2087 opened #171 "And btw, regarding the staking website, would be nice to not display the cookie bar everytime we refresh the page :)"

[2020-03-07 23:16] janet-harmony opened #175 "[Staking Dashboard] Mobile UI needs to be more responsive"
Image from Chrome Device toolbar for iPhone X.
<img width="387" alt="Screen Shot 2020-03-07 at 12 45 05 PM" src="https://user-images.githubusercontent.com/56005637/76153705-7bf7ac00-6084-11ea-9eda-248b349ddfc0.png">

Image from iPhone 11 Max.
![image0](https://user-images.githubusercontent.com/56005637/76153713-9762b700-6084-11ea-82e3-d6fcd949590f.png)

[2020-03-08 07:05] scraido opened #177 "Proposal - Add History of tx in dashboard"
History

[2020-03-08 07:08] scraido opened #178 "unsucceed delegation of 10K ONE event said succeeded on dashboard, how if that 1mio unsucceed delegation?"
unsucceed delegation

[2020-03-08 07:59] sophoah commented on #169
Yeah this is nice idea

[2020-03-08 08:00] sophoah commented on #178
@scraido we need more meat here to understand what is happening and whether we can replicate it.
tell us before/after state, command you issued, what is the expectation

[2020-03-08 10:24] BrunoMarshall opened #179 "Staking Explorer - Undelegated validators still stay in the delegation list (staking explorer portfolio)"
In the Staking Explorer if we undelegate, after 7 epoch the validators stay in the list of delegations

This Validators should get out of the delegation list, currently are showing 0

![image](https://user-images.githubusercontent.com/35432495/76160998-5378bc00-612f-11ea-928b-f7d408db3589.png)

[2020-03-08 10:28] err0r711 commented on #179
same here

[2020-03-08 10:59] trumhemcut opened #180 "[BUG] Staking allocation chart is not showing directly"
I delegate 60k of ONE to 6 validators, but the chart of allocation doesn't show the correct percentage as the image below:

![image](https://user-images.githubusercontent.com/5198341/76161494-770b2900-6166-11ea-9290-0ebf0b7d52a0.png)

[2020-03-08 11:54] scraido commented on #178
hello brother, i've the prove, so this is what happen in chronological time;

1 6/3 15:00 PST my SELF DELEGATED is 175,828
![01yesterday-7wib-16pst](https://user-images.githubusercontent.com/44559893/76161540-f6006180-6166-11ea-90db-9dfeed52966c.png)

2 7/3 15:00 PST my SELF DELEGATED is 186,761
![02today-7wib-16pst](https://user-images.githubusercontent.com/44559893/76161560-1e885b80-6167-11ea-9e

[2020-03-08 21:27] BrunoMarshall commented on #148
Checked again 08-03-2020

![image](https://user-images.githubusercontent.com/35432495/76171438-c9ab0c00-618b-11ea-926d-936acd69ec69.png)

Median show 25,000 instead of

![image](https://user-images.githubusercontent.com/35432495/76171429-9cf6f480-618b-11ea-90d7-784cff3aec2c.png)

[2020-03-09 15:23] spitus commented on #180
And after the 7th delegation, the graph become bugged

[2020-03-09 15:26] spitus commented on #180
![Screenshot 2020-03-09 15 11 13](https://user-images.githubusercontent.com/52337308/76229596-61573b80-621a-11ea-9d99-5ae5f17084ca.png)

[2020-03-09 19:14] scraido opened #187 "Even History not updated since restart, even we have increased the stake amount"
Hi, i have update my stake amount many time but my Event History still blank, before 'restart' it's always show any changes of stake we did, please check, Thanks
![EventHistory](https://user-images.githubusercontent.com/44559893/76249378-c8560e00-6275-11ea-9d29-dd34ea99427f.png)

[2020-03-09 19:34] scraido opened #188 "Self Stake Amount not reflected on dashboard even i have refresh the page on validator page"
Hi this is near the same as my previous issue #178 the different is, it's reflected just on Portfolio Page

see the difference, Portfolio Page;
![PortfolioPage](https://user-images.githubusercontent.com/44559893/76250257-904fca80-6277-11ea-94a0-04353098e3c3.png)

Validator Page;
![ValidatorPage](https://user-images.githubusercontent.com/44559893/76250273-99d93280-6277-11ea-98b5-685441e5ab87.png)

[2020-03-10 11:58] scraido opened #191 "the old extension couldn't recognize available balance, so we couldn't transfer to the other wallet"
you can see the details here;

https://youtu.be/5WEXRORZoac

[2020-03-10 11:59] scraido opened #192 "proposal. make the new chrome extension can recover account using the 24 mnemonic seed phrase"
For now this new wallet using 12 mnemonic seed phrase, so that's we need it to became capable to import our CLI wallet that use 24 mnemonic seed phrase, thank you

[2020-03-10 13:17] scraido opened #193 "couldn't claim rewards using the old extension"
couldn't claim staking reward after the new restart

[2020-03-11 05:12] janet-harmony opened #195 "[Chrome Extension] Can't delegate using the extension"
Trying to delegate with the Chrome extension. The amount I want to delegate doesn't show up in the extension & then I get an error about a null transaction.
<img width="594" alt="Screen Shot 2020-03-10 at 9 58 33 PM" src="https://user-images.githubusercontent.com/56005637/76384435-1291ca80-631c-11ea-8a8c-31b4d787ee96.png">
<img width="567" alt="Screen Shot 2020-03-10 at 9 59 03 PM" src="https://us

[2020-03-11 06:40] daywednes commented on #195
Please install a new chrome extension.

On Tue, Mar 10, 2020 at 10:12 PM janet-harmony <notifications@github.com>
wrote:

--
---
Minh

[2020-03-11 18:03] scraido commented on #195
i've created a 12 mnemonic seed address with the new chrome ext., but it couldn't make login from 'it' to the staking dashboard, even if we login the staking dashboard first, it still couldn't connected for transfer, claim or stake (delegate),,

the old one more better, coz it do connected but it couldn't  reflected our balance from our portfolio dashboard issue #191

[2020-03-11 18:09] scraido opened #198 "The new extension couldn't connect to the staking dashboard for login, even we do login there it still couldn't connect"
Hi i'm try to use the new extension but;

This new extension couldn't connect to the staking dashboard for login, even we do login there, 'it' still couldn't connect to the dashboard so our portfolio balances wouldn't reflected to it, make us couldn't do transfer or stake and also claim rewards

[2020-03-11 18:34] janet-harmony commented on #195
Confirmed can delegate with new Chrome Extension.

[2020-03-11 18:34] #195 closed

[2020-03-11 21:30] mindstyle85 commented on #148
@BrunoMarshall its not that easy now, people run multibls so you cant just find the middle validator and thats it, each bls key within a validator should also be counted. Also you always need to order them by stake size.

An example: we have 10 validators, each stakes the following amount of tokens:

1. 1
2. 2
3. 3
4. 4
5. 5
6. 6
7. 7
8. 8
9. 9
10. 10

and validator number 5 has 5 bls keys. So you

[2020-03-11 21:31] mindstyle85 commented on #148
also if there is an even number of validators, say 10 or 22 or 24, you dont take one middle one, but two of them and divide their stake by 2...

[2020-03-11 21:40] scraido opened #200 "Proposal Please Add "time-signed-utc" on collect-rewards with CLI,,"
Hello when i try to breaking down my issue into time capsule, i found it would be helpfull if on collecting reward with CLI you also put "time-signed-utc",,

refer to case #177

[2020-03-12 00:33] mindstyle85 commented on #133
rewards rates are still non 0 for all the inactive validators

[2020-03-12 15:58] sophoah opened #201 "Proposal to ease median stake verification, add 2 columns EPOS rank and # of node"
in the following link : https://staking.harmony.one/validators

Add a 2 column
1 - indicating the number of BLS/node behind a validator
2 - ranking of the validator in EPOS

![image](https://user-images.githubusercontent.com/35721420/76540620-5839c900-64bd-11ea-8c2e-e8a63a8c82ce.png)

[2020-03-12 16:10] sophoah commented on #201
@mikedoan if not too difficult :) that would help a lot for us to visualize the median stake

[2020-03-12 21:12] JB273 opened #202 "One1 address falls out of boundary (minor UI fix)"
On the Staking Dashboard validators page the one1-address falls out of boundaries.
Example URI: https://staking.harmony.one/validators/one1gjsxmewzws9mt3fn65jmdhr3e4hel9xza8wd6t

![image](https://user-images.githubusercontent.com/54506968/76567112-646a5a00-64ae-11ea-83aa-f5b19ced4030.png)

[2020-03-12 21:19] daywednes commented on #202
can you please refresh the page again - it looked fine at my side

[image: image.png]

On Thu, Mar 12, 2020 at 2:12 PM JB273 <notifications@github.com> wrote:

--
---
Minh

[2020-03-12 21:21] JB273 commented on #192
You can import the CLI wallet with help of the private key
![image](https://user-images.githubusercontent.com/54506968/76567784-cbd4d980-64af-11ea-90ec-b4f51915e8e0.png)

[2020-03-12 22:19] lijiang2087 opened #203 "can we show validator stakes per keys"
in addition to showing the full validator stake, can we show validator stake per key so that people know how many nodes/keys a validator has.

they can evaluate how concentrated this validator is, how many keys they are taking up in the network, etc.

[2020-03-12 22:31] JB273 commented on #202
Tested with
Edge Chromium = OK
Brave Browser = OK
Google Chrome = Not OK!

[2020-03-13 18:58] potvik opened #207 "Integration e2e tests"
Do e2e tests with Selenium and NodeJS

Cases:
1) Total stake display
2) Validator list show average non-zero stakes
3) Click on first delegator

Related issues:
1) Choose JS framework for tests (as Nightwatchjs https://nightwatchjs.org)
2) Create docker container for test running (install Java + Selenium + webdrivers + NodeJS)
3) Generated and publish test reports as HTML page
4) Integration with

[2020-03-13 20:01] denniswon opened #208 "[China] Staking explorer proxy server: website accessible using china network, but the frontend assets not loading"
try going to http://18.163.212.191:3000/

China users currently cannot use our staking explorer
due to China firewall

I (denniswon) set up a proxy server, pointed by above public ip address
(no ssl yet) running on port 3000
But when I click on the link above using China VPN
I only see a blue screen like above
and it seems like the CSS delivered to the browser is not loading correctly

(before cli

[2020-03-13 20:51] JB273 opened #209 "Layout of portfolio page on chrome"
In Chrome the "Not Elected" text is not displayed as whole, it seems the table " Status" is not wide enough.
![image](https://user-images.githubusercontent.com/54506968/76658526-99d97b00-6574-11ea-937a-0de508d03c8c.png)

Maybe it's also cleaner if the information boxes have the same height?

[2020-03-13 21:38] Dewansahil opened #210 "Un-delegate bug on dashboard"
Expected behavior: Once you undelegate from a validator, after 7 epochs, your ONE should be successfully undelegated and added to your 'Total ONE' on your portfolio page.

Current behavior: Pending Undelegation table goes into negative epochs after 7 epochs are over. Please check backend.

<img width="1233" alt="Screen Shot 2020-03-13 at 2 33 43 PM" src="https://user-images.githubusercontent.com/4

[2020-03-14 12:35] sophoah commented on #193
fixed with the latest extension available here : https://github.com/harmony-one/staking-dashboard/tree/master/extension_versions

[2020-03-14 12:42] sophoah commented on #192
@scraido new extension allows import of 24 words : https://github.com/harmony-one/staking-dashboard/tree/master/extension_versions thanks to close the issue

[2020-03-14 12:45] sophoah commented on #198
please check again and see if you still have the issue if not. please close

[2020-03-14 18:46] Chainode opened #212 "Add Keybase Integration to Harmony protocol"
# Problem
The current method for a validator to publish its logo is pretty inconvenient by forking the repository and then submitting an issue with your validator address. If the address changes or you add another validator, then another PR.

#Solution
Integration with keybase and then use the pgp key of an account to publish validator logo on the staking dashboard.
This has to be implemented in t

[2020-03-14 18:59] Chainode opened #213 "Display current block height, their shard id and shard block height for every validator"
Currently the staking dashboard only displays the block since when a validator became active on the network.

It would be nice if every validator will see it's current block height directly displayed on the staking dashboard as well as their shard id and current block height of their shard. This would offer validators a possible monitoring solution to see the block height of their validators and c

[2020-03-15 15:29] potvik commented on #207
Done:
Repo: https://github.com/harmony-one/staking-dashboard-e2e
Realtime reports: http://134.122.19.240 (updating every 5 minutes)

[2020-03-15 21:11] BrunoMarshall opened #216 "Staking Dashboard -Portfolio /Summary not ok"
Currently in the Staking Dashboard: (Portfolio / Summary)
![image](https://user-images.githubusercontent.com/35432495/76710680-cecb0680-6709-11ea-8fab-81930c38cc4a.png)

Proposal:

![image](https://user-images.githubusercontent.com/35432495/76710691-e73b2100-6709-11ea-94c9-ab03863d7fd6.png)

[2020-03-15 22:00] JB273 commented on #134
This one is solved! Great work guys!

[2020-03-15 22:00] #134 closed

[2020-03-16 02:34] JB273 commented on #135
This is fixed indeed! Great work!

[2020-03-16 02:34] #135 closed

[2020-03-16 02:35] JB273 commented on #202
Still not correct on Google Chrome!

[2020-03-17 08:59] scraido opened #219 "unnecessaries message appear when ran multi BLS key with key specified on blspass.txt"
Hi when i do create a multi same shard BLS with same passphrase and specified it on
root; $ blspass.txt

i got unnecessaries message after it show in what shard my node runs;
![bug-new](https://user-images.githubusercontent.com/44559893/76839415-0b147900-6868-11ea-97d0-f18b1d9caaaf.png)

it's worked but left unnecessaries message before, that make me doubt that my node is succeed run / not,,

it s

[2020-03-17 12:20] lijiang2087 opened #220 "transaction failed: cannot read property 'sendTransaction' of null"
![image](https://user-images.githubusercontent.com/3784595/76855710-f2c44000-680e-11ea-9654-ad9df7c6f889.png)

[2020-03-17 12:23] robinsupermassive commented on #220
Looking to stake to myself I encounter this while trying to send a tx with the browser extension

[2020-03-17 16:03] mikedoan commented on #220
@robinsupermassive @lijiang2087 did you install the latest extension (updated last week)

[2020-03-17 16:04] mikedoan commented on #220
i did not try to stake myself yet but it worked or me for transfer and general staking(not staking myself)

[2020-03-17 17:17] robinsupermassive commented on #220
Yes indeed, installed it fresh today

[2020-03-17 22:07] lijiang2087 opened #225 "when i resize my chrome window width, the text get bunched up very badly. see image"
![image](https://user-images.githubusercontent.com/3784595/76906311-e9fc5a00-6860-11ea-895d-3892117d7ae3.png)

[2020-03-17 23:10] lijiang2087 opened #226 "the epoch countdown timer doesn't make sense: see image"
it says 8 minutes left, but the image makes it look like there's only 1 minute left (on 10-min per epoch) based on how the wheel (circle) is shaded.

![image](https://user-images.githubusercontent.com/3784595/76909876-bd007500-6869-11ea-9570-069c0cb8524e.png)

[2020-03-18 06:22] scraido opened #228 "couldn't make validator with given passphrase"
hello i try to make one BLS validator with my multiple BLS node, my node is run, but i still couldn't make validator with the given passphrase;

./hmy --node="https://api.s0.os.hmny.io" staking create-validator --validator-addr one1rmsztmw3727yjuszwd484z8mvf9v6fkkze4r5s --amount 10000 --bls-pubkeys 7484973d2fe6caa6e905e97e38fdc0840cd6b20aa557d11879fe0651cabb33c39df6aa9a3d7339ae0c747649a32d2783 --n

[2020-03-18 11:47] sophoah commented on #228
@scraido firstly, this is not the correct location but nevermind, let's discuss here. As mentioned in telegram you have to differentiate your BLS passphrase and your wallet passphrase. are both the same ? those should work. I just tested recently collecting reward via CLI and it worked for me.  Are you sure the passphrase is the same for BLS and wallet account?

[2020-03-18 11:48] sophoah commented on #225
Yes, on mobile the interface is horrible.

[2020-03-18 11:49] sophoah commented on #220
@lijiang2087 if it works after installing the new chrome extension version, maybe we can close that issue :) Thanks

[2020-03-18 11:52] sophoah commented on #219
@scraido Wrong project bro, that issue should be opened in the main harmony repo. @gupadhyaya could you have a look at this ?

[2020-03-18 11:56] sophoah commented on #216
Hey @BrunoMarshall , Mike did an update on that one, and though this is not exactly what you suggested but now the output is cleaner. I think we can close that one

[2020-03-18 12:00] sophoah opened #229 "Validators fees should be clearly mentioned in the validator page"
The validator page view doesn't show easily the fees. For instance this validator has a fee of 100% https://staking.harmony.one/validators/one1jjq5pl4le0fhhu3n2znkkt9tydrzjcyzaljtnl and would have been nice to see that along the general info or somewhere near the stake button.

Currently, we have to scroll down and see the commission history to see that.

[2020-03-18 12:05] sophoah commented on #198
@scraido I believe this one can be closed. Thanks

[2020-03-18 12:05] sophoah commented on #193
@scraido I am able to claim via the extension, please close the issue.

[2020-03-18 14:07] robinsupermassive commented on #220
Bear in mind the first time I ever installed the extension was yesterday. Still not working for me today

[2020-03-19 20:34] JB273 opened #236 "In portfolio page when clicking on below white space fires up google form!"
When in your portfolio page, when clicking on the white space under in the screen (marked with red square in picture, it fires up a google form for partner staking!?

This should be removed!

![image](https://user-images.githubusercontent.com/54506968/77112369-2a0e3900-6a29-11ea-870e-3884c4ee8383.png)

[2020-03-20 05:45] mikedoan commented on #220
Where did you install it?
The latest version wasn't published with the chrome extension store yet. We
are trying to get approval soon. Meanwhile, the latest was found in the doc
and the GitHub link.

On Wed, Mar 18, 2020 at 7:07 AM robinsupermassive <notifications@github.com>
wrote:

[2020-03-20 08:10] BrunoMarshall opened #382 "Alarm/message to delegators if validator change fees"
# Problem
When we delegate to a validator, the expectation is that the field "fee" don´t move too much higher, but this can happen very fast.
if the delegator is not constantly monitoring the delegations, can miss this.

# Proposed Solution

the proposal solution is to set an alarm or some king of message that the delegator imediately see that something changed comparative to the time when delegat

[2020-03-20 08:24] robinsupermassive commented on #220
Resolved. Consider it closed now

[2020-03-20 15:44] scraido opened #238 "getting kickoff signing because my node consume much of cpu and memory that make my machines slow and fall behind"
Before i got interesting graph of cpu and memory take to run the node, and then not far a long, my elected node became not elected

details are on the video;
https://youtu.be/jYisNCBc9sk

the --active true value doesn't gave any affect
![active-true](https://user-images.githubusercontent.com/44559893/77180283-47f89e00-6afc-11ea-890d-876c4fe0b2de.png)

[2020-03-20 22:07] gupadhyaya commented on #219
@scraido this is simply a warning message indicating that the passphrase if provided under .hmy/blskeys file for any key takes precedence over the supplied passphrase `-p blspass.txt`.
If the `.pass` file for any key is not found in the bls keys folder, then the passphrase supplied is used.
I have added `warning` to this message. Do you think it will suffice? I am bit reluctant to fully remove thi

[2020-03-21 01:52] scraido opened #245 "couldn't do self unstake 'twice', using the new chrome plugin on dashboard"
Hi when i try to do self unstake of my unelected node, it giving me "Transaction Failed" message on dashboard twice, fyi. i have used the new chrome plugin, and before it's doesn't give me error even i'm not being elected or create a validator, i always succeed to do an unstake / undelegation,

details;
![selfunstake](https://user-images.githubusercontent.com/44559893/77181450-eafde780-6afd-11ea-9

[2020-03-21 05:29] scraido commented on #228
it's seem my wallet pass is reset to nil, so actually i've just press enter, enter after input my BLS pass, thankyou

[2020-03-21 06:04] sophoah commented on #228
@scraido by default when you create your wallet without --passphrase, it will default to "" so it was at the time of creation that you should have been aware of any passphrase.

Since all ok, please help to close that issue. Thanks.

[2020-03-21 06:07] sophoah commented on #245
@scraido can you make sure on the CLI it works. remote the --passphrase if you don't have any passphrase set. also you can increase the timeout (waiting time for the tx to be push) by adding --timeout 60 (for 60 s) or more if you have a similar message as in the GUI.

[2020-03-21 06:12] sophoah commented on #238
What is your VPS specs ? and please attach the result  ```ps -aux``` when your node is running

It would be good to replicate the issue while doing the below:
[code]
please zip the pprof folder and attach the file here.

Thanks

[2020-03-21 06:14] scraido commented on #228
i using --passphrase

but it couldn't detect my pass set before at the time of wallet creation, because it has been reset to nil

[2020-03-21 06:15] scraido commented on #228
don't forget we talking about wallet here, not BLS and not BLS pass,,

but wallet and wallet pass,,

[2020-03-21 06:17] sophoah commented on #219
@gupadhyaya Don't remove it completely, just mentioned which password file was used (ie either .pass file if specified or the ```-p blspass.txt``` if not)

[2020-03-21 06:27] scraido commented on #228
i remember talking this when @udinujang has the same problem, i thought before it's because the pass is wrong, but unfortunately i do a wrong judging, because the wallet passphrase has reset no nil, and should trust before when @udinujang said never forget the pass, even do copy paste the passting it from memo/notepad

[2020-03-21 06:43] scraido commented on #228
basicly when you not trust some one, just replicate it, simple!

[2020-03-21 06:44] scraido commented on #228
![reset-to-nil](https://user-images.githubusercontent.com/44559893/77221189-03abe300-6b7a-11ea-897b-b3c635d3445d.png)

[2020-03-21 06:46] scraido commented on #228
maybe people like you, i must shoot a video, making a test wallet, and show the pass, copy it to CLI, aha that will solved the problem, but if that a standard, a new generated wallet passphrase will reset to nil when you remove all, why should i make the video,,

[2020-03-21 06:49] scraido opened #246 "is it a standard behaviour, that a new generated wallet passphrase will be reset to nil when you doing a complete remove for making a hard reset"
details;
![reset-to-nil](https://user-images.githubusercontent.com/44559893/77221244-bc722200-6b7a-11ea-91ba-2b3aa6e173e3.png)

[2020-03-21 06:51] scraido commented on #228
btw i making a new git report for this, thank you;
https://github.com/harmony-one/staking-dashboard/issues/246

[2020-03-21 06:58] scraido commented on #245
yeah i didn't use passphrase for that wallet, it different wallet with what we discuss before, this wallet ended with "...ysu",,

before it did not gave me any problem, when i insert --passphrase,,

i just need to press enter, enter,,

but nevermind, maybe now is a new system being deploy, i'll try unstake/undelegate without insert --passphrase, let see the result, ty

[2020-03-21 07:12] scraido commented on #245
here the CLI picture update, using enter, enter and without passphrase
![with-without](https://user-images.githubusercontent.com/44559893/77221640-f4c72f80-6b7d-11ea-9758-cfad2ca398e4.png)
;

[2020-03-21 07:17] scraido opened #247 "is my 4mm testnet token that on stake is gone after do complete reset? it shouldn't, it should save some where isn't it?"
Details, CLI gave 0;
![with-without](https://user-images.githubusercontent.com/44559893/77221675-61422e80-6b7e-11ea-95e2-5ca25ce56bc8.png)

but dashboard still show it;
![dashboardshow](https://user-images.githubusercontent.com/44559893/77221707-bbdb8a80-6b7e-11ea-8a74-0498ccc829d7.png)

[2020-03-21 07:47] sophoah commented on #246
@scraido the private wallet file are on your VPS/backup. No way a restart of the network with full DB reset would reset to nil your passphrase. You must have created it at the beginning without passphrase

[2020-03-21 07:50] scraido commented on #219
@gupadhyaya i mean it appear twice, it should after "shard 3" messages has been appear, the message should not appearing "again", beacuse it appear twice, you see at screenshot, it has been appear before and i understand, and then the message of on what shard we assign appear, and then it should stop and not repeat the 1st and 2nd message again,,

[2020-03-21 07:53] scraido commented on #219
1st messages
couldn't find xxx using from blspass.txt

2nd messages
couldn't find xxx using from blspass.txt

3rd messages
assign to -> shard 3 (it should stop in here),,

but then the first and second messages is reproduce again, that's why i call it "unnecessaries message", because it's appear twice or appear again

4th message repeat the 1st messages
couldn't find xxx using from blspass.txt

5t

[2020-03-21 07:55] scraido commented on #219
because of that people will be confuse did they succeed run the node or node, until they check using "latest-header", thankyou

[2020-03-21 07:58] sophoah commented on #247
@scraido full DB reset means everything is being reset. Only initial funding of certain keys if any would be there. For your case, after a reset, the account one1u0sa36a28dq4fufc9vs9hlnkjsrxr9k67w5ysu should have 4m. If there aren't you'll have to dm @Daniel-VDM but please close that issue as this has nothing to do with the current software/protocol bug/issues etc ...

[2020-03-21 08:07] scraido commented on #246
but it reset mine, i use the same pass as my BLS key from the beginning of P1

[2020-03-21 08:17] scraido commented on #247
it's me who doing a reset, on CLI it's not appear, did you see the CLI?

how about if some one really did stake 4mm, and didn't see 'them' on CLI?

how if that happen to you 10mm? when you try to undelegate using CLI, it show messages;
have 0 want 1xxxx, so this is really not an issue? you're joking isn't it?

if did not an issue, what is the proper message show when you finished undelegate, answe

[2020-03-21 08:30] scraido commented on #191
fixed by new wallet, ty

[2020-03-21 08:32] #191 closed

[2020-03-21 08:37] scraido commented on #178
this is still mistery, but because now we have a new chrome ext., i hope we wouldn't see our token dissappear again after delegate, if it unsucceed it should stay at wallet, not take it, and then when unsucceed it's dissappear, that's really scary, thank you

[2020-03-21 08:42] scraido commented on #188
there were really much server reset after this err. reported, i see this is major issue, maybe reported this to admin will resolve the issue, they''ll add it manually, hope who see this issue coz have had some problem, will be help enough to reported the unreflected balances to admin, thank you

[2020-03-21 08:43] scraido commented on #192
yeah just notice it, thank you

[2020-03-21 08:43] #192 closed

[2020-03-21 08:46] scraido commented on #198
so it's updated every day, if some one sees this issue they can try to download the new one, and try to see if the problem resolved or not,,

it's resolve for me now, thank you

[2020-03-21 08:46] #198 closed

[2020-03-21 08:47] #188 closed

[2020-03-21 08:48] scraido commented on #193
ty for the new fixing of the new estension,,

[2020-03-21 08:48] #193 closed

[2020-03-21 08:54] scraido commented on #200
wrong project, move to https://github.com/harmony-one/harmony/issues/2566

[2020-03-21 08:54] #200 closed

[2020-03-21 09:09] scraido commented on #219
i move it to https://github.com/harmony-one/harmony/issues/2567

thank you

[2020-03-21 09:09] #219 closed

[2020-03-21 09:14] #228 closed

[2020-03-21 09:41] scraido commented on #246
move to https://github.com/harmony-one/harmony/issues/2568

[2020-03-21 09:41] #246 closed

[2020-03-21 10:17] scraido commented on #238
moving to https://github.com/harmony-one/harmony/issues/2569

i've include my ps aux there, will do the rest after break, thanks

[2020-03-21 10:17] #238 closed

[2020-03-21 10:54] scraido commented on #247
move it to; https://github.com/harmony-one/harmony/issues/2570
thank you

[2020-03-21 10:55] #247 closed

[2020-03-21 11:11] scraido commented on #245
for CLI issue i move it to post above, but it still not resolved yet on dashboard and on CLI

[2020-03-21 11:28] #178 closed

[2020-03-21 17:15] scraido commented on #245
mindstyle has gave the proper answer that i need to unstake in dashboard with
leaving the balance as i set on min-self-delegation, that applied too for the cli, ty

[2020-03-21 17:15] #245 closed

[2020-03-21 23:15] BrunoMarshall commented on #103
this seems solved now, thank you

[2020-03-21 23:15] #103 closed

[2020-03-21 23:20] BrunoMarshall commented on #139
solved, Thank you

[2020-03-21 23:20] #139 closed

[2020-03-21 23:21] BrunoMarshall commented on #148
closed this issue, thank you all

[2020-03-21 23:21] #148 closed

[2020-03-22 02:09] sophoah commented on #187
@mikedoan could you explain here what is the expectation for the event history in the staking dashboard ? What event should we see there ? would that be a place for staking error message when there are any with the validator for instance?

[2020-03-23 08:14] janet-harmony opened #248 "[Staking Dashboard] If validator is at max-total-delegation, "Stake" button should be greyed out"
Can click on "Stake", but the pop-up says "Remaining available stakes: 0". Should just not let user click the "Stake" button.
<img width="1454" alt="Screen Shot 2020-03-23 at 1 12 15 AM" src="https://user-images.githubusercontent.com/56005637/77295607-83819c80-6ca3-11ea-8fa5-a6d3d7511274.png">

[2020-03-23 08:18] janet-harmony commented on #163
Still seeing the invalid warning when clicking "Claim Rewards" on the profile page.
"Harmony will only withdraw rewards from 5 validators at a time because of a limitation with the Ledger Nano S"
<img width="1454" alt="Screen Shot 2020-03-23 at 1 16 29 AM" src="https://user-images.githubusercontent.com/56005637/77295925-fd198a80-6ca3-11ea-90fc-4c5510e7de64.png">

[2020-03-23 13:37] #55 closed

[2020-03-23 13:38] #203 closed

[2020-03-23 20:05] BrunoMarshall commented on #216
I will close this issue. because there will be another update
![image](https://user-images.githubusercontent.com/35432495/77358325-f1809f00-6d49-11ea-9e45-a73664cd6e39.png)

[2020-03-23 20:08] #216 closed

[2020-03-23 20:11] BrunoMarshall commented on #160
This still not solved, @mikedoan
I can understand that the difference words have the same meaning
can you take a look and solve/close the issue?
thank you

[2020-03-23 21:43] JB273 commented on #209
This is solved with new release!
![image](https://user-images.githubusercontent.com/54506968/77366153-b5543b00-6d57-11ea-975f-ce974150dc0f.png)

Will close it.

[2020-03-23 21:43] #209 closed

[2020-03-23 21:44] JB273 commented on #202
Fixed with new page layout!

[2020-03-23 21:44] #202 closed

[2020-03-23 21:51] JB273 commented on #187
Seems to be updated with new layout:
![image](https://user-images.githubusercontent.com/54506968/77366676-c9e50300-6d58-11ea-8f88-5d15550d38eb.png)

Closing the issue because of this!

[2020-03-23 21:51] #187 closed

[2020-03-23 22:05] JB273 opened #250 "Reward Rate History on Validator page not consistent when pressing CTRL + F5"
When going to the validator page, you have the "reward rate history" information block.
This showing constantly different information when pressing CTRL + F5 (refresh no local cache option)
I've posted a short movie on loom of this issue:

https://www.loom.com/share/4efc67fb587945988bcf83f9f0831e1d

[2020-03-24 13:16] #40 closed

[2020-03-24 13:17] #50 closed

[2020-03-24 13:18] #63 closed

[2020-03-24 13:18] #67 closed

[2020-03-24 13:19] #93 closed

[2020-03-24 13:21] mindstyle85 commented on #133
@mikedoan this is still an issue:

![scrrr](https://user-images.githubusercontent.com/55639830/77429913-ad89aa80-6dda-11ea-8fe3-6c0e2c24748b.png)

[2020-03-24 13:27] #220 closed

[2020-03-24 13:30] #207 closed

[2020-03-24 13:31] #167 closed

[2020-03-25 06:33] BrunoMarshall commented on #250
Same here, in every F5 we see that the reward is random:
https://t.me/c/1355804540/102831
![image](https://user-images.githubusercontent.com/35432495/77508431-fab55d00-6e6a-11ea-86fc-7876b5490bf3.png)

[2020-03-25 13:28] yelllowsin commented on #157
@janet-harmony @daywednes i propose we make the default kee the same on all clients. On HMY CLI the default fee is 0.000021 ONE and the reason is that it is probably copied from the default GAS used on ETH which is 21000. I propose we use this same default fee on all clients, HMY, Staking Dashboard and Chrome extension. Trust Wallet is already using 0.000021 ONE as fee already, Mathwallet is not u

[2020-03-25 13:57] yelllowsin commented on #171
What other websites usually do is have a "Accept" button to accept the cookies. O think this is the way to go here. Once clicked, the message doesn't need to appear anymore when the page is refreshed.

 _In the European Union, the websites are now required to ask the user for their consent before using tracking cookies or other means to collect personal data about the user._

[2020-03-25 15:25] sophoah opened #254 "PSTN Network - can't do tx and maybe other staking related action with sign"
I was trying to help funding a partner account however, using the staking explorer I could not. Tried twice and all ended with the below :

![image](https://user-images.githubusercontent.com/35721420/77553458-cb94ff00-6eef-11ea-8b75-5ab89b7dd198.png)

Doing the transfer via CLI worked.

@mikedoan I understand we intend to keep the Partner network so might be worth to look at.

[2020-03-25 20:37] mikedoan commented on #171
okay i'm adding that

[2020-03-25 23:48] Dewansahil opened #257 "Portfolio page UI doesn't scale if the total ONE number is high."
<img width="1191" alt="Screen Shot 2020-03-25 at 4 44 26 PM" src="https://user-images.githubusercontent.com/45057123/77596131-5d811580-6eb8-11ea-8cd4-e14962e9cc6f.png">

[2020-03-26 00:13] gizemcakil opened #258 "Move 'time until next epoch' to from Portfolio to Global view page"
time until next epoch feature is relevant to validators (not delegators), so it should be moved to Global View page

<img width="1548" alt="image" src="https://user-images.githubusercontent.com/45907268/77597372-e8174400-6ebb-11ea-8f64-99f4cbcdfe5e.png">

[2020-03-26 00:16] #258 closed

[2020-03-26 05:19] lijiang2087 opened #261 "staking dashboard and individual validator page showing different staked amounts"
these should be the same, but they are showing different numbers: see bigcryptoking2

dashboard:
![image](https://user-images.githubusercontent.com/3784595/77612947-afd92b00-6ee6-11ea-98c4-061690eb6ac2.png)

individual page:
![image](https://user-images.githubusercontent.com/3784595/77612963-bc5d8380-6ee6-11ea-8308-9abe973850ec.png)

[2020-03-26 09:32] sophoah opened #262 "Validator profile for staking explorer - Allows create / edit"
Staking explorer is currently developed with the intention to be used by delegator mainly. Hence it is currently missing some features that only a validator would be using example:
- create validator
- edit validator

there is one really nice benefits of it is the ability for the validator to use any OS to perform all the above operation. Additionally, it would also allow the signing the above ope

[2020-03-26 09:37] zillabytes commented on #262
Looking forward for this. After creating Node on the linux this will help the works for creating and editing the validators since if we have stable validator we will just only need is to edit some minor things like the percentage, adding some labels and cools stuff on our validator. Great!

[2020-03-26 10:02] err0r711 commented on #262
this feature makes much more user friendly environment, run your node on raspberry pi, edit info from any machine

[2020-03-26 14:12] sophoah opened #263 "Delegation under 1000 via staking dashboard shows wrong error message"
Network is no longer accepting delegation below 1000 for that testnet however delegation below 1000 via the staking dashboard doesn't show a very helpful message

only that the TX fail after 5 attempt
![image](https://user-images.githubusercontent.com/35721420/77656443-d793c600-6fae-11ea-8ecf-ebc2ff033456.png)

is it possible to show a more helpful message like when using the CLI.

Thanks

[2020-03-26 18:36] staking4all opened #264 "Enhance the visual appearance of validator qty"
I think how validators are displayed on staking dashboard should be changed or relook at words used. Below is explanation

A validator represents a person/instance that validates transactions on a network, that validator gets rewarded for the transactions they process.

So in harmony
- running 1 bls key gets X rewards
- running 2 bls keys gets 2X rewards
- running 3 bls keys gets 3X rewards
- runn

[2020-03-26 18:49] #261 closed

[2020-03-26 18:56] BrunoMarshall commented on #264
I like your idea to show how many bls keys are associated to validator in the main page.
For example order the positions per bls key instead of validators number
![image](https://user-images.githubusercontent.com/35432495/77684739-a9a48680-6f9a-11ea-8e68-65affcee417d.png)
Here one idea:
![image](https://user-images.githubusercontent.com/35432495/77685467-c55c5c80-6f9b-11ea-8be0-b99d6c858a22.png)

[2020-03-26 19:06] staking4all commented on #264
Yes, these suggestions by Marshal help to show the actual reality or a way to get the count of seats used correctly

[2020-03-26 19:34] mikedoan commented on #163
fixed

[2020-03-26 19:34] #163 closed

[2020-03-26 20:25] JB273 commented on #250
Solved in today's release!

[2020-03-26 20:25] #250 closed

[2020-03-26 20:49] BrunoMarshall opened #266 "Staking explorer - missing validator address"
With the new update is missing the Validator address:
![image](https://user-images.githubusercontent.com/35432495/77695149-951cba00-6fab-11ea-8f19-3a3c4b8fc804.png)

[2020-03-26 21:35] BrunoMarshall opened #268 "OSTN Explorer - Transactions don´t appear correct -"
The issue is on OSTN explorer, https://explorer.os.hmny.io/#/
 the transaction shows:
![image](https://user-images.githubusercontent.com/35432495/77698925-b97b9500-6fb1-11ea-9c43-8aaa9488deff.png)

How recreate this:
Do a transaction using Staking explorer:

![image](https://user-images.githubusercontent.com/35432495/77699005-de700800-6fb1-11ea-92fb-114e1718d567.png)

follow the link for the "tran

[2020-03-26 21:40] yelllowsin commented on #268
Also, seems that the latest txs on block explorer are not shown. Only showing the last 2 while i have performed many more on blockchain.
![image](https://user-images.githubusercontent.com/7217595/77699479-43ffcc80-6f91-11ea-8186-e6f5775ab9ab.png)

[2020-03-26 23:04] BrunoMarshall commented on #264
@mikedoan i have assign you to this proposal, please take a look specially for the cases with multiBLS keys, and how to show it.
thank you

[2020-03-26 23:06] BigCryptoKing commented on #264
Validator tab on dashboard is now totaling stake with multi bls which is misleading b/c it puts you above median VISUALLY..when in actuality you are at median. This was updated in last update? For example I have 400k staked 4 bls...100k per. Prior to this it showed 100k on validator page since thats distributed between the 4 bls. If someone scans me and sees I am far above median and not knowing I

[2020-03-27 08:45] mirrormirage0 opened #272 "Sort by APR% column is broken"
Trying to sort by APR% column sorts the data alphabetically, not numerically

[2020-03-27 19:26] OgreAbroad commented on #264
I agree that this is definitely an issue.

Could it be solved as simply as adding a 5th column, “# of BLS Keys”?

Then we would just have to label the Stake column as total, or per BLS.

[2020-03-27 20:33] mindstyle85 opened #281 "wrong stake on dashboard"
**Describe the bug**

Main validator page on dashboard shows wrong validator stake. I am not sure if this is just UI/backend or something else so i opened it here and will move upon confirmation. Above are the screenshots and rpc info:

],
      "total-effective-stake": "973647500000000000000000.000000000000000000"
    },
    "total-delegation": 2.241808e+24,
    "validator": {
      "address": "o

[2020-03-27 21:38] yelllowsin opened #278 "shard number shows as NaN"
On my validator, instead of showing the correct shard which should be 3 as i am running with 2 BLS keys, it shows as NaN instead:
https://staking.harmony.one/validators/one170xqsfzm4xdmuyax54t5pvtp5l5yt66u50ctrp

![image](https://user-images.githubusercontent.com/7217595/77802608-02872400-705a-11ea-916f-ec35b2e754d2.png)

[2020-03-27 21:52] JB273 commented on #236
Checked this and it doesn't show anymore on chrome and also not on Brave

[2020-03-27 21:52] #236 closed

[2020-03-27 22:01] JB273 opened #279 "Globalview page info balloon moving out of context"
The info balloon on the Globalview page is moving out of the window when going to the right of the table.
![image](https://user-images.githubusercontent.com/54506968/77803747-2d836f00-707e-11ea-87f0-12531822f530.png)

To explain look at this short video:
https://www.loom.com/share/7fac759f38fd4f29bab779e42f848187

[2020-03-27 22:53] mikedoan commented on #266
![image](https://user-images.githubusercontent.com/40258599/77806838-225f1d80-7043-11ea-9bb5-96d4eae28772.png)
i was not able to reproduce this

[2020-03-28 00:09] yelllowsin commented on #278
Running node from 2 different instances, 2 bls keys on each one, same validator:

![image](https://user-images.githubusercontent.com/7217595/77809618-34ef4c00-706f-11ea-8c5a-0e2a3f92e2e7.png)

[2020-03-28 00:22] gizemcakil opened #282 "Change field name to 'stake' and hover-tag explanation to 'stake of validator'"
Since we changed this data field to total stake, we should adjust the name and hover-tag as well.
<img width="1625" alt="image" src="https://user-images.githubusercontent.com/45907268/77809995-77089580-704f-11ea-8efe-4af583ebdab3.png">

[2020-03-28 00:40] mattlockyer commented on #279
@JB273 thanks for raising this, has to do with the chart axis max being capped.

I'm on it @mikedoan

[2020-03-28 01:07] mikedoan commented on #281
can you please elaborate?

[2020-03-28 01:08] #282 closed

[2020-03-28 01:08] mikedoan commented on #282
fixed

[2020-03-28 01:44] mindstyle85 commented on #281
on main validator list page, my stake is only 747k, while if you check my validator with cli, or click on it, you will see that my real stake is 2,2M.. i have since that added a lot more stake and 3 more bls keys so its not the same as in these screenshots anymore, but if you want to confirm just check JB's validator: https://staking.harmony.one/validators/one10jvjrtwpz2sux2ngktg3kq7m3sdz5p5au5l8c

[2020-03-28 13:47] lijiang2087 commented on #272
still not fixed.

[2020-03-28 13:48] lijiang2087 commented on #266
seems fixed now

[2020-03-28 13:48] #266 closed

[2020-03-28 17:49] janet-harmony commented on #268
Issue with OSTN block explorer backend connection to the explorer nodes.
Can view transactions done with the staking dashboard now.

[2020-03-28 17:49] #268 closed

[2020-03-29 12:30] Chainode opened #284 "Validator shuffling and ranking on staking dashboard"
**Problem/limitation At Hand**
At the current state the staking dashboard is relatively static and displays the same list of validators. A fresh new ONE delegator, coming from the outside, will see the first X validators on the first page of the staking dasbhoard and select one from this list. Also the ranking from 1 to n based on any criteria will bias voters to select validators from top x (let'

[2020-03-29 12:42] BrunoMarshall commented on #284
Very good proposal, i see the problem, Is it possible to have all the validators in 1 list, not break in several sheets? @daywednes

[2020-03-29 12:43] yelllowsin commented on #284
Nice proposal, the way it is now is not good. One simple way could be rank based on the median stake accordingly to the image bellow. Maybe just order from the low return stake ratio to the high return stake ration. People will always try to catch the median to increase their returns, so the suffle would naturaly occur if you rank this way. You can also add more variables like uptime, stake, apr,

[2020-03-29 12:54] yelllowsin commented on #284
I have thought about this. Actually if you look into https://app.lunie.io/cosmos-hub/validators which is where our dashboard code is based on, they don't have pagination. But they also have only ~125 validators. Initially we will have 320 which is already a lot, but in the future we will have around 1600 when whole network is decentralized.

I just don't like the way pagination is done now. When y

[2020-03-29 15:56] Chainode opened #285 "Display addresses of delegators and amount delegated in validator cockpit"
**Problem/limitation At Hand**
Currently there is no transparency on staking dashboard to go and check which addresses delegated how much and whom. It would be good for both a validator and transparency purposes to have a tab "Voters" or something similar and you find there a list with all addresses of delegators and amount delegated to a specific validator.
This will also show if a validator has

[2020-03-29 16:10] mindstyle85 commented on #285
pending undelegations/delegations would be awesome to see i think

[2020-03-29 19:25] gizemcakil commented on #281
This is the same bug as I reported yesterday to @mikedoan82 as well 👍

+ Portfolio page is also showing a different stake amount than the validator list & validator detail page (note that I logged in to staking dashboard with my validator address)

<img width="1317" alt="Screen Shot 2020-03-27 at 5 42 37 PM" src="https://user-images.githubusercontent.com/45907268/77858411-3d06d300-71b8-11ea-8697-5

[2020-03-29 19:34] gizemcakil commented on #264
@BrunoMarshall can you actually assign this issue to me first? I'll try and bring a design proposal, too many details and comments may not be productive for @mikedoan look at.

[2020-03-29 19:41] gizemcakil commented on #284
few comments and maybe a solution proposal here:

@yelllowsin first off, we'll probably have <320 validators because big stakes will bid for multiple slots (otherwise it becomes unprofitable for them)

we should define a more sophisticated 'default ranking' criteria on this page. Our original design was to rank them on their 'APR', because that gives the best insight to both delegators and validat

[2020-03-29 19:45] gizemcakil commented on #285
it sounds like the best (and simplest) place to embed this info is into the validator detail page. We can show a distribution of delegations, # of delegators, amount, delegator address etc.

@mikedoan I suppose all this data is available, correct? If yes, I'll suggest a design and work with @mattlockyer

[2020-03-29 20:59] mikedoan commented on #281
@gizemcakil @mindstyle85 my current investigation is that the number type in javascript is not big enough to to hold 10^26 or more

[2020-03-29 23:47] mindstyle85 commented on #281
@mikedoan not even with bigInt?

[2020-03-30 10:31] BrunoMarshall commented on #179
it´s working properly now

[2020-03-30 10:31] #179 closed

[2020-03-30 15:51] yelllowsin commented on #284
@gizemcakil sure, we can start using APR. It will much better that what we have corrently

[2020-03-30 16:10] mattlockyer commented on #279
Fixed in [matt-ui-7 f7d3ddf], PR coming later today

[2020-03-30 18:05] mikedoan commented on #201
@sophoah what's EPOS rank you are having here?

[2020-03-30 18:06] mikedoan commented on #281
should be fixed now

[2020-03-30 18:07] #281 closed

[2020-03-30 18:28] mindstyle85 commented on #281
@mikedoan looks like ordering is off though:

![scre](https://user-images.githubusercontent.com/55639830/77947965-f652cf00-72c4-11ea-9673-b6727d177727.png)

[2020-03-30 18:33] mattlockyer commented on #175
Fixed before this https://github.com/harmony-one/staking-dashboard/pull/253

But definitely in master by now

[2020-03-30 18:33] #175 closed

[2020-03-30 20:17] lijiang2087 opened #289 "is the clock wheel live image?"
this seems to be a static image by design? or should it be a live image. because no matter what the time is left, the image always looks like it's at the end of the epoch

![image](https://user-images.githubusercontent.com/3784595/77957738-c980c680-7288-11ea-9202-f71949bd90fc.png)

[2020-03-30 22:01] mikedoan commented on #278
fixed

[2020-03-30 22:01] #278 closed

[2020-03-30 22:40] mattlockyer commented on #289
@mikedoan have we changed the data for this?

[2020-03-30 23:01] #279 closed

[2020-03-30 23:50] gizemcakil opened #293 "[global view] Change stake distribution chart to descending order"
Currently this chart sorts from lowest bid to highest, it should be the other way around.

@mattlockyer

for example, my validator's slots seem to show 51-59th, but it should actually show like 10-20 depending on the elected seat number.

<img width="1367" alt="Screen Shot 2020-03-30 at 4 40 30 PM" src="https://user-images.githubusercontent.com/45907268/77972428-38b8e380-72a6-11ea-83c0-a99c6e1a714

[2020-03-31 00:03] mattlockyer commented on #293
Will be fixed in: https://github.com/harmony-one/staking-dashboard/commit/195ac7c1e3cd056e21daeaa00a86d7d54c1f022e later today

[2020-03-31 00:03] #293 closed

[2020-03-31 00:03] mattlockyer commented on #257
working on it

[2020-03-31 00:26] mikedoan commented on #254
fixed - the network fields for staking dashboard in firebase was configured correctly - chain id should be 4.

[2020-03-31 01:07] yelllowsin opened #294 "enable HID on Chrome - Ledger Nano S"
When using Ledger Nano S for the first time on Chrome, the [staking dashboard](https://staking.harmony.one/ledger) asks to enable HID as shown by the image bellow. Issue is, that the URL **chrome://flags/#enable-experimental-web-platform-features** that is shown on the image is not clickable nor can be copied. This is a bit annoying for the end user as he will have to type it manually. Can you cha

[2020-03-31 02:02] mattlockyer commented on #257
fixed in https://github.com/harmony-one/staking-dashboard/commit/e6df1c339afd60e44f164d0564d58f75b9a63e69

PR coming soon

[2020-03-31 02:02] #257 closed

[2020-03-31 07:17] BrunoMarshall opened #296 "Claiming rewards using ledger nano S is not working properly"
We are currently doing tests using Ledger Nano S, and there is an issue with claiming rewards

The image get frozen, and no transaction is performed
![image](https://user-images.githubusercontent.com/35432495/77997594-f936d980-732f-11ea-914f-aed0244d65fb.png)

How to recreate the issue:
1- Login using Legder nano S
2- Delegate to some validator
3- After get reward, use collect reward

[2020-03-31 07:26] BrunoMarshall commented on #296
Transactions and delegation works good

[2020-03-31 12:45] yelllowsin commented on #296
I can confirm i have the same issue using Ledger Nano S. Firmware version 1.0.2 right from Ledger Live. Screen mentioned by @BrunoMarshall closes automatically after a while and rewards are not claimed.

@Cem-Harmony can you check if this is an issue on Ledger App rather than the Harmony Dashboard?

[2020-03-31 18:34] mikedoan commented on #213
@gizemcakil @Dewansahil what do you think about this feature?

[2020-03-31 20:14] mikedoan commented on #263
fixed - by the new design,  now minimum delegation is increased to 1K ONEs
and also minimum self-delegation (create validator) requires at least 10K ONEs

[2020-03-31 20:14] #263 closed

[2020-04-01 15:52] danbedford commented on #296
Confirming I've tested via staking dashboard v1.0.2 and experienced same issue. Also confirmed claiming rewards on this Ledger via CLI works fine.

[2020-04-01 19:50] gizemcakil commented on #201
Drafted this ranked validator list, we plan to put this into the global view page.

@sophoah

<img width="727" alt="image" src="https://user-images.githubusercontent.com/45907268/78180262-5fe2f280-7417-11ea-890f-675847b270e0.png">

[2020-04-02 18:43] danbedford commented on #296
There is a similar bug when attempting to undelegate from a validator that already has an undelegation processing for the Ledger address.

Steps:
Undelegate a portion from "Validator A"
Confirm using Ledger via Staking Dashboard ok
Undelegate another portion from "Validator A" using same Ledger
Screen mentioned above that "tx has been sent waiting for confirm" closes automatically after a while an

[2020-04-02 22:13] yelllowsin commented on #296
Nice, then the issue is on Staking Dashboard @mikedoan . Thanks for checking with the cli @danbedford

[2020-04-03 19:48] gizemcakil opened #306 "Change number format in charts"
I propose transitioning to a shorter number format, **for the graph axises**. Do not use decimals in these places.

Proposed standard for chart numbers:

0-1000 = 576
1000-1,000,000 = 576 K
1,000,000 - 1,000,000,000 = 576 M
1,000,000,000 - 1,000,000,000,000 = 576 B

Charts for changes to be applied:

<img width="1337" alt="Screen Shot 2020-04-03 at 12 44 50 PM" src="https://user-images.githubuserc

[2020-04-03 21:09] gizemcakil opened #307 "Enhancement batch: format bugs, reorganizing"
1/ Stake allocation donut chart and time until next epoch charts look weird when the tx window pops up. The rest of the page is shaded, but these graphs still look bright.

<img width="1231" alt="Screen Shot 2020-04-03 at 1 58 17 PM" src="https://user-images.githubusercontent.com/45907268/78405054-8722f680-75b4-11ea-9c28-5aac41c2ce14.png">

[2020-04-03 21:12] gizemcakil commented on #307
2/ Move 'time until next epoch' chart into 'global view' page (we concluded that it's not relevant info for delegator)

Format: Right now it takes too much space in the page, ideally it should be a small clock-like symbol at the top right corner.

<img width="1630" alt="Screen Shot 2020-04-03 at 2 11 00 PM" src="https://user-images.githubusercontent.com/45907268/78405336-221bd080-75b5-11ea-82d8-05

[2020-04-04 00:02] yelllowsin commented on #296
I couldn't reproduce this, maybe it got fixed already? Both my undelegations generated a tx, though it is not visible on blockexplorer yet as it hasn't been integrated (devs are finishing this implementation). But they all show in my pending delegations.

![image](https://user-images.githubusercontent.com/7217595/78413552-49db5a80-75ee-11ea-8adf-d3106b0ad1cf.png)

[2020-04-04 00:05] danbedford commented on #296
@yelllowsin Now try delegating more to the validator that has pending undelegations, see if you get the error there.  It wasn't perfectly reproduce-able in every situation.

[2020-04-04 07:14] gizemcakil commented on #307
Here's another one!

1/ Can we try to improve 'validator list' page by freezing the top row (titles) so that it's still readable when user scrolls down. See how it looks right now below:

<img width="1628" alt="image" src="https://user-images.githubusercontent.com/45907268/78420979-04785680-7609-11ea-8974-c17d2fd2fd47.png">

2/ Once we freeze the top row, we should increase the validator shown per

[2020-04-04 07:44] gizemcakil commented on #307
Got another one!

I propose this design for the shard info in validator profile page. UI doesn't scale.

<img width="573" alt="image" src="https://user-images.githubusercontent.com/45907268/78421545-4efbd200-760d-11ea-90ca-cce1fd2dc62e.png">

An example with 20 keys:
![photo_2020-04-04 00 40 01](https://user-images.githubusercontent.com/45907268/78421555-5a4efd80-760d-11ea-8215-511f9d00a54d.jpeg)

[2020-04-04 07:50] sophoah commented on #229
that is perfect now
![image](https://user-images.githubusercontent.com/35721420/78421665-f0c20400-768b-11ea-95a4-b12f28961866.png)

[2020-04-04 07:50] #229 closed

[2020-04-04 08:54] gizemcakil commented on #307
I hope you don't hate me, but I'm posting as I find them :)

Found a UI bug on the reward rate history chart, in validator profile page. Seems to be skipping a few decimals?

<img width="747" alt="Screen Shot 2020-04-04 at 1 51 46 AM" src="https://user-images.githubusercontent.com/45907268/78422831-22e54e80-7617-11ea-8254-5306a5c513e3.png">

[2020-04-05 12:21] yelllowsin opened #308 "throw proper errors messages when delegating less than 1000 ONES"
Currently, dashboard is not throwing proper erros when trying to delegate less than 1000 ONES via Ledger Nano S. It is known that you cannot delegate less than that now as a recent protocol change.

When you delegate via Chrome extension it shows an error message for the user on chrome extension, but when you sign via Ledger Nano S it simply closes the window and doesn't give the user the proper e

[2020-04-05 12:29] yelllowsin commented on #296
Could be the issue that you are trying to delegate an amount less than 1000 ONES? I opened an enhancement issue here for that. If that is the case, it will always faild and mislead the user, not giving any proper error message of that has happened as the minimum to delegate is 1000 ONES: https://github.com/harmony-one/staking-dashboard/issues/308

[2020-04-05 21:02] mattlockyer commented on #306
Will be closed by https://github.com/harmony-one/staking-dashboard/tree/matt-ui-11 later today

[2020-04-05 21:02] #306 closed

[2020-04-05 21:31] mattlockyer commented on #307
![image](https://user-images.githubusercontent.com/321340/78510474-31805280-774a-11ea-9f04-871f58d2c921.png)

[2020-04-05 23:06] Dewansahil opened #310 "Time until next Epoch shows negative number"
<img width="1176" alt="Screen Shot 2020-04-05 at 4 04 12 PM" src="https://user-images.githubusercontent.com/45057123/78512200-6e9f1180-7757-11ea-8f6d-eaa756ff9f6a.png">

[2020-04-06 14:12] mattlockyer commented on #307
Everything except the slots thing should be fixed by https://github.com/harmony-one/staking-dashboard/pull/311

[2020-04-06 14:12] #307 closed

[2020-04-06 18:28] danbedford opened #312 "Undelegated validators are still shown in the "Stake Allocation" pie chart"
Referencing earlier issue #179

After 7 epochs, undelegated validators are removed from the list of Delegations on the Portfolio page, however they are not removed from the labels of the Stake Allocation pie chart (they are not included on the chart, only the labels remain).

In screenshot you can see this wallet is no longer delegated to ChainnodeTech or STAKING-POWER, they are not shown in the l

[2020-04-06 18:47] mattlockyer commented on #312
fixed in https://github.com/harmony-one/staking-dashboard/pull/311

[2020-04-06 18:47] #312 closed

[2020-04-06 19:16] mattlockyer commented on #310
Fixed in https://github.com/harmony-one/staking-dashboard/pull/311

[2020-04-06 19:16] #310 closed

[2020-04-07 15:58] gizemcakil opened #315 "[Extension] Reduce (redundant) user clicks"
When signing any type of tx on staking dashboard using the chrome extension, I identified several user clicks that may not be needed.

1/ After confirming the fees, directly send the user to chrome extension window instead of making the user click the 'send' button on the 'Sign' screen below.
<img width="620" alt="Screen Shot 2020-04-07 at 8 33 14 AM" src="https://user-images.githubusercontent.com

[2020-04-07 16:01] sophoah opened #316 "Collect reward should show the value collected instead of the delegator address"
https://explorer.os.hmny.io/#/staking-tx/0xc0c7caf9e4abd985db0291e00c3b6df584a7a943d2aed35d9da6f8e5f22a8bae

![image](https://user-images.githubusercontent.com/35721420/78691922-c2625400-792b-11ea-979a-cdd545f950d1.png)

Also in the staking main page, value would show 0 instead of the correct amount collected

![image](https://user-images.githubusercontent.com/35721420/78692159-0fdec100-792c-11ea-

[2020-04-07 16:02] sophoah commented on #316
@lijiang2087 this one not critical

[2020-04-07 21:41] BrunoMarshall opened #317 "Staking Dashboard - "Event History" shows only one event and block number not correct"
In the staking explorer - validator profile page, shows the Event History:

![image](https://user-images.githubusercontent.com/35432495/78722043-fa1bcc80-7928-11ea-9666-eb8770a7c176.png)

**but shows only the "last events" for delegation and undelegation, not total "History"**
**Proposal:**
to show the totality or at least the last 20 events/history

- the block number seems not correct

[2020-04-07 21:45] BrunoMarshall commented on #317
related to this : https://github.com/harmony-one/staking-dashboard/issues/177

[2020-04-08 09:40] sophoah commented on #316
looks like @mindstyle85 opened the same after me but in the correct github project https://github.com/harmony-one/harmony-dashboard/issues/67 so I am closing that one

[2020-04-08 09:40] #316 closed

[2020-04-08 11:40] BrunoMarshall opened #318 "Staking Dashboard - Proposal to add button "Validator Active: True/False"
Proposal to have in the staking explorer the option to stop or start the validator with the "Validator Active: True/False"

Here some proposals for the button:
"Validator Active: True
Everytime the user press the button will  have the same result like a user sending in CLI: ./hmy --node="https://api.s0.os.hmny.io" staking edit-validator --validator-addr one1km7xg8e3xjys7azp9f4xp8hkw79vm2h3f2lade -

[2020-04-08 12:19] BrunoMarshall opened #319 "Staking Dashboard - Undelegate from "not elected" validator is 1 epoch not 7 epoch waiting time"
In Staking Dashboard if we undelegate from a "not elected" validator, in the undelegations appers 7 epoch, but we recieve the funds after 1 epoch
![image](https://user-images.githubusercontent.com/35432495/78783315-bca85500-79a3-11ea-8398-5af68188693d.png)

How to recreate the issue:
-delegate to a validator
-Undelegate from a Validator **"not elected"**
in the Undelegation are will appers 7 epoch

[2020-04-08 13:27] BrunoMarshall opened #320 "Staking Explorer - Stake allocation don´t reset validators after undelegation succeed"
In the Staking Explorer after undelegate validators, then remain in the chart
![image](https://user-images.githubusercontent.com/35432495/78789067-eca82600-79ac-11ea-997e-e2d8495c1cfe.png)

Expected:
Is expected that the "undelegated validators" are removed from the chart after "undelegated"

[2020-04-08 13:59] BrunoMarshall commented on #319
Tested in CLI
Undelegate take 1 epoch :
[ec2-user@ip-172-31-38-220 ~]$ **./hmy balances one1km7xg8e3xjys7azp9f4xp8hkw79vm2h3f2lade**
[
  {
    "shard": 0,
    "amount": **176597**.488786120754017796
  },
  {
    "shard": 1,
    "amount": 0.000000000000000000
  },
  {
    "shard": 2,
    "amount": 0.000000000000000000
  },
  {
    "shard": 3,
    "amount": 0.000000000000000000
  }
]
[ec2-user@ip-17

[2020-04-09 05:40] BrunoMarshall commented on #254
I think we can close this issue, @sophoah ?

[2020-04-09 05:50] BrunoMarshall opened #327 "Staking Explorer- Validator APR% mismatch"
Installed the Harmony extension version **0.0.10** , and the staking explorer validators Page the APR% is mismatching the correct value.
in validators main page:
![image](https://user-images.githubusercontent.com/35432495/78862006-9a134c00-7a36-11ea-8b9d-e6c365bc8f2f.png)

From the validator page:
![image](https://user-images.githubusercontent.com/35432495/78862072-c0d18280-7a36-11ea-9d80-afa268f5

[2020-04-09 06:30] BrunoMarshall opened #339 "Staking Explorer - Harmony Extension "decrease" steps to open an account"
With the new Harmony extension version 0.0.10 if we try to open an account selecting the respective account, we will be redirect to the " https://staking.harmony.one/extension " , ands we need to select again the account:
![image](https://user-images.githubusercontent.com/35432495/78864056-29226300-7a3b-11ea-944d-f2af51076649.png)

![image](https://user-images.githubusercontent.com/35432495/788641

[2020-04-09 08:27] gizemcakil opened #328 "Revision of all staking terminology on dashboard"
This to-do is to update all terminology in the staking dashboard and include explanations before the Stake Heist launch.

* I have created a visual guide that maps a metric/title to show **when hovered on**. The doc: https://docs.google.com/presentation/d/1s6yJzb-VP7DKQfOtJHFdd9_iCgAx5cQNt12QPg_v2HU/edit#slide=id.p

* The text to show when hovered on can be found in 'staking dashboard terminology'

[2020-04-10 01:07] mindstyle85 opened #332 "Dashboard showing future median stake not current (same as median-stake command gives out)"
**Describe the bug**

so dashboard shows future epoch median stake (basically from the epos candidates), while it should show current one (for epos winners):

[median-stake1.txt](https://github.com/harmony-one/harmony/files/4459338/median-stake1.txt)
![ms1](https://user-images.githubusercontent.com/55639830/78953143-2e81bb00-7ad8-11ea-87fa-5f2c2a84232e.png)

[median2.txt](https://github.com/harmon

[2020-04-10 01:09] mindstyle85 commented on #332
this has only been noticable now with very few  validators elected..

because of this i would really really propose a very small controlled environment for econ tests so we can 100% test them (and manually verify) @rlan35

[2020-04-10 09:01] danbedford opened #333 "Delegations list shows max 15 validators on User Portfolio page"
Issue:
When delegating to >15 validators, only a maximum of 15 validators are shown on the user's Portfolio page.

Expected:
All delegated validators should be available to view and manage on the Portfolio page; either the frame the list of validators is in could show the full list, or there could be pagination occurring within the frame.

[2020-04-10 19:25] BrunoMarshall opened #335 "Staking Explorer - Strange "spike" at Effective Stake of validators Graph"
Strange Effective Stake for a validator with 11000 ONE staked
![image](https://user-images.githubusercontent.com/35432495/79017384-76a0ec00-7b71-11ea-824c-fb6a336c7d03.png)
![image](https://user-images.githubusercontent.com/35432495/79017472-afd95c00-7b71-11ea-8114-2039ff03281c.png)

the effective stake for this validator is 1842875 (for validators with the same stake is 1360000)
![image](https://

[2020-04-10 19:43] BrunoMarshall commented on #335
Question: i don´t find the validator with 11000 ONE staked in the validator list, even searching validators with multi-BLS keys

[2020-04-10 22:12] gupadhyaya commented on #335
could be UI issue. I cannot find it in postman either. @mikedoan

[2020-04-10 22:30] rlan35 commented on #332
This may be intended. Need @Dewansahil to clarify.

[2020-04-10 22:32] rlan35 commented on #335
Resolved with Minh, It's a wrong RPC used. Minh is fixing it now

[2020-04-10 22:38] Dewansahil commented on #332
Should be showing current epoch values @mikedoan

[2020-04-10 22:48] mindstyle85 commented on #332
@rlan35 @Dewansahil @mikedoan

in that case it has to show current median as well as current stake/eposed stake for the graph

[2020-04-11 12:31] sophoah commented on #201
![image](https://user-images.githubusercontent.com/35721420/79043714-6d785380-7c33-11ea-8b58-013c18677cce.png)

[2020-04-11 12:31] #201 closed

[2020-04-11 12:32] #254 closed

[2020-04-11 16:51] mindstyle85 commented on #335
![screen](https://user-images.githubusercontent.com/55639830/79049687-63e7ef00-7c25-11ea-93d5-c80678a05a06.png)

we have a 0 balance bidder now (note that this validator is sharing bls key with another validator)

[2020-04-12 05:20] sophoah opened #337 "Number of elected seat should match the number of slot used"
In the screenshot below the EPOS slot ranking table has been ordered by slots, and we can see not all 200 slots are shown while a bit below we can see 200/200 slots used.

![image](https://user-images.githubusercontent.com/35721420/79061055-909c1500-7cbe-11ea-8cf1-2c2f1ed19a18.png)

[2020-04-12 05:59] MaggieWang-Harmony commented on #333
![image](https://user-images.githubusercontent.com/55899206/79061745-fd27fd00-7c47-11ea-8f70-dadebc97dcc8.png)
![image](https://user-images.githubusercontent.com/55899206/79061746-01ecb100-7c48-11ea-8273-77a11360b01d.png)

having similar problem

[2020-04-12 21:38] lijiang2087 opened #338 "the effective median does not match"
look at the top left number and then the number listed on the right side. the 2 numbers for effective median does not match.

![image](https://user-images.githubusercontent.com/3784595/79080606-35bcea80-7ccb-11ea-967a-3a9e64072fd8.png)

[2020-04-12 22:08] Dewansahil commented on #338
@lijiang2087 that effective number in the table is accurate. That number is the effective stake of a bas key whose total stake is above the median. In this case, their effective stake becomes 1.15 * median. So median is 3,000,000 and effective for that validator becomes 1.5*3,000,000=3,450,000

[2020-04-12 22:08] Dewansahil commented on #338
We can do a better job at 'naming' and hover text over all these terms for clarity sake.

[2020-04-12 22:09] lijiang2087 commented on #338
oh i see

[2020-04-13 01:59] BrunoMarshall opened #340 "Harmony Extension - Proposal to remove accounts/ duplicated accounts"
Proposal to remove accounts/ duplicated accounts, that happen if the user import accounts, for some reason 2 times, or if just want to remove some account from the page
![image](https://user-images.githubusercontent.com/35432495/78865246-891a0900-7a3d-11ea-8dbb-31fe74cfd500.png)

[2020-04-13 04:06] lijiang2087 opened #341 "how can the bids be zero?"
![image](https://user-images.githubusercontent.com/3784595/79091267-79324b80-7d01-11ea-88bb-1aeea158004d.png)

[2020-04-13 09:18] BrunoMarshall opened #342 "Staking Explorer - Delegation values on Validator profile are not "correct" according to CLI"
There is a report from Sagekn1ght that the staking explorer is not showing the correct values for delegation:
here the print-screen:
![image](https://user-images.githubusercontent.com/35432495/79109043-e08ae280-7d77-11ea-884f-4d1834ec2eb6.png)
![image](https://user-images.githubusercontent.com/35432495/79109062-e8e31d80-7d77-11ea-995a-d01faae5ddaf.png)

**I confirmed that the sum of "delegated" va

[2020-04-13 10:04] BrunoMarshall commented on #342
I have done more tests, delegating to this validator and the issue remains:
delegating 10K
![image](https://user-images.githubusercontent.com/35432495/79112344-a244f180-7d7e-11ea-8933-c93e67bf0e58.png)

delegating 20K
![image](https://user-images.githubusercontent.com/35432495/79112467-ed5f0480-7d7e-11ea-8a37-b2ccaf678ea2.png)

[2020-04-13 10:25] BrunoMarshall commented on #327
Checked this issue today and seems solved, thank you @mikedoan

[2020-04-13 10:25] #327 closed

[2020-04-13 10:42] janet-harmony opened #343 "[Staking Dashboard] Default values when fields have empty string"
If a validator has empty string for their "name", we should display their ONE address as their validator name in the validator list, instead of leaving it blank.
<img width="1308" alt="Screen Shot 2020-04-13 at 3 36 36 AM" src="https://user-images.githubusercontent.com/56005637/79114385-01334800-7d38-11ea-8c7a-235ae28f86fc.png">

Default for empty string on "description" is "--", but empty string

[2020-04-13 12:48] BrunoMarshall opened #344 "Staking Explorer - NaN bids on global page - Several Validators in the same slot"
In the Staking Explorer several validators are "apparently" in the same slot, leading to NaN bid
here the print - screen:
![image](https://user-images.githubusercontent.com/35432495/79121451-a597a780-7d95-11ea-93d5-8ecb9e022233.png)

![image](https://user-images.githubusercontent.com/35432495/79121498-c19b4900-7d95-11ea-8375-1b1407367e83.png)

[2020-04-13 13:00] BrunoMarshall opened #345 "Staking Explorer - 0 balance bidder (note that this validator is sharing bls key with another validator)"
Was detected a "strange" situation, when a validator is biding with 0 balance (if the validator is sharing bls key with another validator).
Validators with 0 bid should not be in the list

![image](https://user-images.githubusercontent.com/35432495/79121912-b85eac00-7d96-11ea-84ba-a525dcb27ead.png)

This was first reported in a comment from mindstyle here : https://github.com/harmony-one/staking-d

[2020-04-13 13:02] BrunoMarshall commented on #335
added this specific issue here: https://github.com/harmony-one/staking-dashboard/issues/345

[2020-04-13 22:08] ivorytowerdds opened #350 "elected validator with 0 elected slots, not elected validator with 1 elected slot"
![image](https://user-images.githubusercontent.com/34232522/79165334-c103b200-7d97-11ea-9417-57f803398f91.png)
![image](https://user-images.githubusercontent.com/34232522/79165415-f0b2ba00-7d97-11ea-9135-5aaad427d69d.png)

Is it expected?

[2020-04-14 15:33] sophoah commented on #333
@danbedford @MaggieWang-Harmony I just verified on my validator and looks good now

[2020-04-14 17:18] lijiang2087 opened #356 "enhancement request: let people easily navigate to how to setup a validator from the dashboard"
on the dashboard, we should allow people to navigate to the documentation on how to stake, how to run auto node etc.

[2020-04-14 19:08] Dewansahil commented on #341
fixed

[2020-04-15 06:23] NiteeshHarmony opened #359 "Display epos-status"
![Screen Shot 2020-04-14 at 11 17 54 PM](https://user-images.githubusercontent.com/59848994/79304441-3198f480-7ea6-11ea-8ce6-f067115d9fa0.png)

Currently the dashboard displays "Validator is elected in committees at current epoch" or "Validator is not elected in committees at current epoch". I think this info is repetitive because of the elected/unelected sign next to it. I think showing the epos-

[2020-04-15 08:56] BrunoMarshall commented on #356
Is this request to "add" a link to documentation on the staking explorer or to implement a "front end" creation validator page similar to Ankr?

[2020-04-15 09:22] BrunoMarshall opened #360 "Staking Explorer - "Seats elected" number in "Global View" shows seats elected from previous epoch"
In the Staking Explorer, the "Seats Elected" area is showing "aparently" the values from the previous epoch and not the current epoch, which can lead to discrepancies:
This was first reported from Niteesh Settypalli and i confirmed that the values sporadically appears not the same
**Epoch 148:**
 (bear in mind that we don´t have multi BLS keys in any validator currently)
![image](https://user-imag

[2020-04-15 09:36] BrunoMarshall commented on #341
I will close this issue, is solved. also related to other several issues:
https://github.com/harmony-one/staking-dashboard/issues/344
https://github.com/harmony-one/staking-dashboard/issues/345

[2020-04-15 09:36] #341 closed

[2020-04-15 09:38] BrunoMarshall commented on #345
Solved! Thank you all!

[2020-04-15 09:38] #345 closed

[2020-04-15 09:39] BrunoMarshall commented on #344
This is also solved, Thank you

[2020-04-15 09:44] BrunoMarshall commented on #133
I confirm that this issue is solved, for validator not elected the reward shows now zero.
![image](https://user-images.githubusercontent.com/35432495/79323261-3db89c80-7f0e-11ea-8659-52d0f8adc7c1.png)
Can we close this issue?

[2020-04-15 09:49] BrunoMarshall commented on #156
I will close this issue, the message is not appearing anymore.Thank you
![image](https://user-images.githubusercontent.com/35432495/79323941-26c67a00-7f0f-11ea-8b6f-d1cb961e6361.png)

[2020-04-15 09:49] #156 closed

[2020-04-15 09:54] BrunoMarshall commented on #133
Closed, Thank you

[2020-04-15 11:46] BrunoMarshall commented on #157
I double checked today this issue and still happen for undelegation
![image](https://user-images.githubusercontent.com/35432495/79333812-73b24c80-7f1f-11ea-8e5c-583d136562f5.png)

[2020-04-15 12:00] BrunoMarshall commented on #160
I have double checked this issue and it´s solved! Thank you
![image](https://user-images.githubusercontent.com/35432495/79334911-6ac27a80-7f21-11ea-80c4-b821f2a61c3e.png)

[2020-04-15 12:00] #160 closed

[2020-04-15 12:06] BrunoMarshall commented on #158
Checked and this issue could be related to this:
![image](https://user-images.githubusercontent.com/35432495/79335284-0c49cc00-7f22-11ea-9fb8-2f69aa775fd9.png)

[2020-04-15 12:08] BrunoMarshall commented on #166
Double checked this issue now and it´s solved! thank you all
![image](https://user-images.githubusercontent.com/35432495/79335562-82e6c980-7f22-11ea-9453-a8e5c6d9cfb7.png)

[2020-04-15 12:08] #166 closed

[2020-04-15 12:14] BrunoMarshall commented on #169
we have a related issue opened for the most recent UI, the proposal is very good.
due to the fact that this proposal is in an older Front-end, i will close this and link this issue to: https://github.com/harmony-one/staking-dashboard/issues/340.
is this ok for you? we can re-open it if you think that is not related to the 340 proposal

[2020-04-15 12:15] BrunoMarshall commented on #340
This issue is related to this proposal : https://github.com/harmony-one/staking-dashboard/issues/169

[2020-04-15 12:15] #169 closed

[2020-04-15 12:24] BrunoMarshall commented on #171
Double checked and the cookie bar is not showing again. will close this issue. thank you

[2020-04-15 12:24] #171 closed

[2020-04-15 12:28] BrunoMarshall commented on #177
Assigned @mikedoan  to this:
![image](https://user-images.githubusercontent.com/35432495/79337172-55e7e600-7f25-11ea-882c-3acf3be9eb15.png)

[2020-04-15 12:32] BrunoMarshall commented on #180
Double checked with the last staking explorer version and it´s solved. I will close this issue
Thank you
![image](https://user-images.githubusercontent.com/35432495/79337550-fb9b5500-7f25-11ea-98b1-a78fbf7bcd51.png)

[2020-04-15 12:32] #180 closed

[2020-04-15 12:45] BrunoMarshall commented on #210
Will close this issue because currently we have a new version, and the Pending Undelegation is not shown anymore.
is this ok for you? If this issue appears with the new versions we will re-opened it. Thank you

[2020-04-15 12:45] #210 closed

[2020-04-15 19:36] BrunoMarshall commented on #213
Currently the shard ID is implemented, is missing only the block height, for exemple:
![image](https://user-images.githubusercontent.com/35432495/79380720-1b9c3a00-7f61-11ea-8b01-25ce3e4b2a3f.png)
What do you think?

[2020-04-15 19:48] BrunoMarshall commented on #225
With the latest staking explorer update i can´t recreate your issue, can you please confirm that this issue is solved, an close it?
Thank you

[2020-04-15 20:01] BrunoMarshall commented on #226
The new version is "apparently" fixed.
can you double check @lijiang2087 .
I´m using Brave and the staking explorer looks great:
![image](https://user-images.githubusercontent.com/35432495/79382378-b3028c80-7f63-11ea-9d51-da599dbd630f.png)

![image](https://user-images.githubusercontent.com/35432495/79382431-c4e42f80-7f63-11ea-87af-8a8c8c110e8b.png)

[2020-04-15 20:09] BrunoMarshall commented on #248
it´s fixed with the latest update, thank you
![image](https://user-images.githubusercontent.com/35432495/79383586-b6971300-7f65-11ea-9aa6-14fd4e79d5e0.png)

[2020-04-15 20:09] #248 closed

[2020-04-15 20:20] BrunoMarshall commented on #264
I think we can close this issue, currently the "Global View" shows the number of slots each validator is taking, also the bid.
thank you

[2020-04-15 20:20] #264 closed

[2020-04-15 20:25] BrunoMarshall commented on #272
This issue seems solved, double checked and looks ok now
Thank you
![image](https://user-images.githubusercontent.com/35432495/79384900-fd860800-7f67-11ea-8be4-3f81445b2f66.png)

[2020-04-15 20:25] #272 closed

[2020-04-15 20:28] BrunoMarshall commented on #284
Agree with sort validators using APR

[2020-04-15 20:48] BrunoMarshall commented on #285
The distribution of delegation is implemented! very good! i think i can close this enhancement
![image](https://user-images.githubusercontent.com/35432495/79386460-71c1ab00-7f6a-11ea-9860-bc4e36327a23.png)

[2020-04-15 20:51] danbedford commented on #333
@sophoah Yep, looks good to me too :)

[2020-04-16 08:07] BrunoMarshall commented on #289
Closed this issue, is related to a previous one https://github.com/harmony-one/staking-dashboard/issues/226
See my comment if we can close the issue #226 as well
Thank you

[2020-04-16 08:07] #289 closed

[2020-04-16 08:51] BrunoMarshall opened #362 "Staking Explorer - Uptime (AVG) percentage shows 100% for validators that "manually turned inactive" or "removed all stake""
The Uptime % shows currently the **number of blocks signed/number of blocks able to be signed**,
If the validator turns manually to "inactive" or remove all stake, will get **"not elected"** but remains with **Uptime 100%** (in my opinion validators not elected should be penalized with less uptime)
![image](https://user-images.githubusercontent.com/35432495/79435651-38bc2180-7fd0-11ea-9c65-4e1cf6f

[2020-04-16 09:17] BrunoMarshall commented on #362
I had a discussion with @sophoah , and this issue was already reported here: https://github.com/harmony-one/harmony/issues/2791  and this should be like this (see the comments from @rlan35  : "The uptime tells the delegator how good the validator is when it's obligated to sign blocks. When it's not elected, it's not obligated to sign."
so maybe the proposal is to have 2 different fields:
-Signed B

[2020-04-16 09:30] BrunoMarshall commented on #133
I re-opened this issue because for validator that "manually turned Inative2 the reward still "non 0"
![image](https://user-images.githubusercontent.com/35432495/79439878-a454bd80-7fd5-11ea-955e-245e72de8c99.png)

[2020-04-16 11:07] #333 closed

[2020-04-18 07:35] sophoah opened #370 "Feature request - add Next epoch minute left in all pages"
Hi,

Currently the Next Epoch minute left is only in the https://staking.harmony.one/analytics page, would be great to see it in all pages :
- https://staking.harmony.one/portfolio
- https://staking.harmony.one/validators

![image](https://user-images.githubusercontent.com/35721420/79631216-2ab20080-818a-11ea-8749-ae94db25a06d.png)

[2020-04-18 12:41] mindstyle85 commented on #362
even history timeline is also wrong, with the below screenshot it looks like undelegation happened before delegation. Block number is wrong and time is wrong.

![imran](https://user-images.githubusercontent.com/55639830/79637855-9e500f80-8182-11ea-9c97-9298839ba469.png)

[2020-04-18 14:15] vikramIde opened #371 "Error: Cannot find module '../../keys/staking_explorer.json'"
Hi guys,

While trying to install the project .

I went into appengine folder and tried with

```npm run dev```

I am getting ` Error: Cannot find module '../../keys/staking_explorer.json'`

Can some one point me in that file what exactly need to be added

pardon my Naive question but doing it  for the first time.

Thanks

[2020-04-18 15:21] sophoah commented on #371
@mikedoan Is this something you can quickly help ?

[2020-04-18 16:26] vikramIde commented on #371
@mikedoan Its hardcoded in DB.js file. So I am guessing I need to provide some sort of Firebase_admin certificate

[2020-04-18 18:37] daywednes opened #372 "request to include title in axis"
![image](https://user-images.githubusercontent.com/244046/79660995-072a8e00-8169-11ea-8c37-c09ad861c825.png)

[2020-04-18 18:38] daywednes commented on #371
why do you need that file? we are not sharing that file with you.

[2020-04-18 21:22] daywednes commented on #370
assigned back to sahil and gizem to review

[2020-04-18 21:54] gizemcakil commented on #370
This could be easily added to the header, @mattlockyer and I discussed it before.

Assigning to @mattlockyer 👍

[2020-04-18 21:55] gizemcakil commented on #372
we're working on putting brief descriptions of each chart when you hover on the title. that should help clarify without crowding the UI.

[2020-04-18 23:27] mattlockyer commented on #370
Alright let's do it y'all I will make this the default!

[2020-04-18 23:37] mattlockyer commented on #370
Ok will be fixed soon by: https://github.com/harmony-one/staking-dashboard/tree/matt-ui-16

[2020-04-18 23:37] #370 closed

[2020-04-19 08:59] vikramIde commented on #371
@daywednes agreed I do not need the file. So I wasn't aware of using firebase as DB. Mostly i use postgres .

I created an account in firebase and then loaded the file so its up .

I have one more question . I do not see any validators when i run the project locally.

The loader just keeps on loading. Can you point me what could be the possible cause. ?

[2020-04-19 11:45] vikramIde commented on #371
@daywednes Figured out thanks. Closing the issue

[2020-04-19 11:45] #371 closed

[2020-04-19 17:40] BrunoMarshall commented on #99
This issue with undefined validator is back @mikedoan
here is the image:
![image](https://user-images.githubusercontent.com/35432495/79695171-8c9b6480-8275-11ea-80ae-2a937d93797f.png)

[2020-04-19 17:55] yelllowsin opened #374 "Wrong link for Current Block Height"
Dashboard has the wrong link for Current Block Height. As an example, it is linking to:

![image](https://user-images.githubusercontent.com/7217595/79695511-a7f27980-824d-11ea-9da6-945e92445f4e.png)

https://explorer.os.hmny.io/#/staking-block/0x0f759549f43ca5cc0b0e77eba2dcbf6f1cd5f6c6bd70a5546ad0e9ed7d4381e2

Where the correct link should be:

https://explorer.os.hmny.io/#/block/0x0f759549f43ca5c

[2020-04-20 12:14] mindstyle85 commented on #360
they are for epos candidates, so future epoch not previous one, but yes @mikedoan @Dewansahil we should discuss what to show here, future epoch epos candidates or current epoch slot winner? same goes for median stake and the graph

and this is also strange/buggy:
![photo_2020-04-20_14-14-23](https://user-images.githubusercontent.com/55639830/79750454-4398ee00-8311-11ea-902d-da9e5497bf76.jpg)

[2020-04-20 12:32] mindstyle85 opened #375 "Dashboard showing unelected validators as elected"
There are two validators right now on the dashboard in the elected committee, while if i check with hmy they are not elected, so looks like a display bug on dashboard or wrong info parsed:

![catluck](https://user-images.githubusercontent.com/55639830/79751846-92478780-8313-11ea-8bcd-c4d1230dab7e.png)
![catluck2](https://user-images.githubusercontent.com/55639830/79751853-95db0e80-8313-11ea-8a9c-3

[2020-04-20 12:35] mindstyle85 commented on #344
![photo_2020-04-20_14-14-23](https://user-images.githubusercontent.com/55639830/79752143-1bf75500-8314-11ea-8f70-50cb02e98c6e.jpg)

happening again, reopening

[2020-04-20 13:37] yelllowsin commented on #308
Fixed in latest version. You cannot delegate less than 1000 ONES anymore.

[2020-04-20 13:37] #308 closed

[2020-04-20 19:03] lijiang2087 commented on #356
@mattlockyer added this i believe, but can we make it highlighted?

![image](https://user-images.githubusercontent.com/3784595/79789343-e09e5b80-82fe-11ea-8abb-d65131d583a3.png)

[2020-04-20 19:04] lijiang2087 commented on #356
who can help add this to staking explorer? @Dewansahil

probably no front end creation page for now @BrunoMarshall

[2020-04-20 19:06] mattlockyer commented on #356
@lijiang2087 yes that's the correct link to validator docs, @BrunoMarshall anything else we should do besides that link?

[2020-04-20 19:09] lijiang2087 commented on #356
@mattlockyer i was hoping for the "Become a Validator" to be highlighted or bolded in harmony blue? :)

[2020-04-20 19:19] mattlockyer commented on #356
Kinda hard given it's position and that we use the blue for hover / current section.

Maybe add an emoji yellow star next to it?

[2020-04-20 19:19] lijiang2087 commented on #356
yeah anything to drive even 1% more conversion!! @mattlockyer

[2020-04-20 19:44] daywednes opened #376 "apr sorting by string not by value"

[2020-04-20 20:25] Chainode opened #377 "Display balance per each shard under Portfolio section"
**Problem/limitation At Hand**
At the current state the staking dashboard displays only a single balance, which is on shard 0 under section Portfolio. An address could though have balances on other shards as well.

**Proposed Solution**
Display all shards and the balance of the address on each shard under the Portfolio section.

[2020-04-20 20:37] Chainode opened #378 "Add cross-shard transfer functionality"
**Problem/limitation At Hand**
Currently is not possible to do transfers from one shard to another of the same address or from an address to another.

**Proposed Solution**
It would be great if the users will have this functionality integrated in the portfolio cockpit. In case not all tokens are on shard 0, an user can easily transfer from the other shards to shard 0 and also send tokens to anothe

[2020-04-20 20:49] BrunoMarshall commented on #99
another thing to add is that if we have more than ~ 50 delegations the names will hide the graph
![image](https://user-images.githubusercontent.com/35432495/79798331-225bf000-8359-11ea-935c-ae9f59f32af9.png)

[2020-04-20 21:21] Chainode opened #379 "Logo isn't displayed correctly"
**Problem/limitation At Hand**

Under certain circumstance the validator logo isn't displayed correctly:
1. Click on Expected Return to be descending from top to bottom;
2. Switch between Elected and All and basically every combination which changes the default order of the validators.
![image](https://user-images.githubusercontent.com/53407923/79800275-335a3080-835c-11ea-93db-e9c7d3daef4e.png)

[2020-04-20 21:38] Chainode opened #380 "Display shard(s) on which a validator is running and number of BLS keys in the "Validators" overview"
**Problem/limitation At Hand**

Currently an user would have to click on every validator to see on which shard is running and how many BLS keys are active. It might be interesting to know on which shard(s) a validator runs and how many BLS keys without having to click on every validator in part.
![image](https://user-images.githubusercontent.com/53407923/79801631-b8464980-835e-11ea-9dce-db82ef02ea

[2020-04-20 21:56] BrunoMarshall commented on #375
Here is another one, reported from C10NU7
![image](https://user-images.githubusercontent.com/35432495/79803488-5f78b000-8362-11ea-98c4-97fbfb3367ac.png)

[ec2-user@ip-172-31-38-220 ~]$ ./hmy -n https://api.s0.os.hmny.io blockchain validator information one1qlm4at9u5d5wyqj8nzq9pu2wgmm6kq6vurjxzc
{
  "id": "0",
  "jsonrpc": "2.0",
  "result": {
    "booted-status": "manually turned inactive or insuf

[2020-04-20 21:59] mattlockyer commented on #375
@mikedoan there's been a few of these. Is there a chance that some data might be running behind the current epoch?

@mindstyle85 @BrunoMarshall does it appear to be "right after" they are removed from committee?

[2020-04-20 22:01] mindstyle85 commented on #375
@mattlockyer @mikedoan no, actually both catluck and cheapstake validators are actually elected all the time on the dashboard, they never go out, at all

[2020-04-20 22:08] mattlockyer commented on #375
So is this issue still valid / correct info?

We have seen other issues with the UI / data layer not reflecting the actual RPC calls. Please follow up if there are more examples of inconsistencies in the form of.

Hard to trace back unless we have a trace of what happened.

1) expected, RPC and UI to be the same
2) RPC and UI same
3) **event happened**
4) how RPC and UI are **not the same**

[2020-04-20 22:24] #342 closed

[2020-04-20 22:25] #338 closed

[2020-04-20 22:26] mindstyle85 commented on #375
there are others, but not necessarily interlinked.. So lets get one thing straight first; last time i checked, the statistics page was showing epos-candidates (for next epoch), instead of winners of the election for current epoch, same was with median. Here are all the issues opened separately:
https://github.com/harmony-one/staking-dashboard/issues/360
https://github.com/harmony-one/staking-dashb

[2020-04-20 22:28] mattlockyer commented on #315
@gizemcakil @potvik looks like this can be closed? please close

[2020-04-20 22:29] mattlockyer commented on #315
sorry, I'll leave it for you to close.

[2020-04-20 22:30] mattlockyer commented on #380
@gizemcakil please review this and prioritize

[2020-04-20 22:32] #315 closed

[2020-04-20 22:34] mattlockyer commented on #379
Can't seem to reproduce, all the logos are consistent for me when sorting.

Can you send a set of steps to make logos change?

[2020-04-20 22:36] mattlockyer commented on #374
@mikedoan going to fix here: https://github.com/harmony-one/staking-dashboard/tree/matt-ui-16

[2020-04-20 22:39] #374 closed

[2020-04-20 22:52] mattlockyer commented on #372
https://github.com/harmony-one/staking-dashboard/tree/matt-ui-16 will fix

[2020-04-20 22:52] #372 closed

[2020-04-20 22:53] gizemcakil commented on #380
Let's discuss here which user would need to see this data in which scenarios.

Also, I wanna remind that validator list page is primarily for delegators' use whereas Analytics page is for validators. I believe shard/key info will be primarily used for validators, correct? when do they wanna see this detail?

[2020-04-20 22:57] mattlockyer commented on #359
Looking into this

[2020-04-21 00:12] janet-harmony opened #383 "[Dashboard] Do not include "https://" by default to the website field"
On the Staking dashboard, "https://" is added to the website field on validator portfolios.
Suggestion: Check for a protocol identifier & add "https://" if there is no identifier
Dashboard:
<img width="381" alt="Screen Shot 2020-04-20 at 5 02 05 PM" src="https://user-images.githubusercontent.com/56005637/79811043-86ff5680-8329-11ea-8f65-c5da2f0cab85.png">

From the RPC:
[code]

Requested by:
<img

[2020-04-21 00:20] daywednes commented on #344
I'm working on this @BrunoMarshall - still not resolved yet.
strange that it started appearing from Thursday last week

[2020-04-21 00:23] daywednes commented on #375
yes i found this issue and reported in team-staking

for example,
one1e63npz8x3pq0z43r49jlw43rksvnmx5mntpke5 is not elected
see - https://cdn.discordapp.com/attachments/627210719766773761/701881796240867418/unknown.png

but its blskey appeared under `current` and `previous` fields in getSuperComittees
![image](https://user-images.githubusercontent.com/244046/79811713-91baeb00-832b-11ea-94c5-76c2ff

[2020-04-21 00:25] daywednes commented on #360
i'm aware of having 202, 203 bugs which is wrong. it may be related to this https://github.com/harmony-one/staking-dashboard/issues/375

[2020-04-21 00:26] mindstyle85 commented on #375
i would bet this is to do with auto reactivations, so thats why these always unelected validators are in the epos comittees, but not elected, just candidates all the time

[2020-04-21 00:34] #335 closed

[2020-04-21 01:12] MaggieWang-Harmony commented on #359
This is a great feature i believe, if we display the validators who are not eligible to be elected, we should make them "un-delegatable"

[2020-04-21 06:14] BrunoMarshall opened #384 "Staking Explorer/Chrome Extension - Option to import .json file"
The proposal is to add the option to import wallet .json files
**Proposal:**

![image](https://user-images.githubusercontent.com/35432495/79830726-54477380-83a6-11ea-8535-db9a6521f389.png)
**Why is this required?**
This is required because third parties platforms (for example Ankr) don´t export **secp256k1** private key or **mnemonic**.
My first idea was that such platforms should implement that e

[2020-04-21 10:13] BrunoMarshall opened #385 "Harmony Extension - Proposal to "blurry" mnemonic and private key in import field"
Do to concerns that the Harmony chrome extension could be hacked with a software that(record the monitor/video image) i will propose that the field mnemonic and private key will shown blurry.
Proposal:
![image](https://user-images.githubusercontent.com/35432495/79854036-1d368980-83c9-11ea-8914-3e32af24dde9.png)

This is a better step, comparative what we have currently. but not 100% secure
The bes

[2020-04-21 12:05] sophoah opened #386 "delegation are shown as undefined on the portfolio page"
https://staking.harmony.one/portfolio

![image](https://user-images.githubusercontent.com/35721420/79864039-5859ac80-840b-11ea-810d-609cebb359a1.png)

[2020-04-21 12:08] sophoah commented on #386
also reported from delegator feedback
![image](https://user-images.githubusercontent.com/35721420/79864350-ecc40f00-840b-11ea-9783-cf90c3fba107.png)

[2020-04-21 16:54] mattlockyer commented on #386
I'm on it!

[2020-04-21 16:58] mattlockyer commented on #386
done in PR #381

[2020-04-21 16:58] #386 closed

[2020-04-21 17:02] #359 closed

[2020-04-22 10:49] spitus opened #387 "Error message with invalid interval of coins"
![Capturar](https://user-images.githubusercontent.com/52337308/79973217-13775980-848f-11ea-9bff-6019734a713c.JPG)

1000 is the minimum amount to delegate.
In this case the validator has less coins to delegate than that, and it shows the wrong interval in the message.

[2020-04-22 11:21] mindstyle85 commented on #387
ok so the problem here is the error message is wrong (minimum delegation limit is 1k) and also that this validator has lower available delegation than that

[2020-04-22 19:25] Chainode commented on #379
I made a video of it, which will describe what I tried: https://drive.google.com/open?id=1wV9pBtnT0r3wTbpkqnd1ZtyG6LEj71Qw

Probably is a cache problem.

[2020-04-22 19:50] Chainode commented on #380
As a delegator I still look at the "Validators" page to check APR and also if they have a good uptime. For me these two are very important criteria when looking for a validator to delegate my tokens to. Currently both pages display different type of information but none is enough for both a validator or a staker. Also as a validator I will go to analytics to see how other validators distributed th

[2020-04-22 20:05] scraido commented on #340
yeah this is same ux, just diff. in look / ui,,

[2020-04-22 20:07] scraido commented on #340
maybe a little differ is yours in dashboard, me in extensions, look at the picture
![76143396-aad44900-60a9-11ea-9e1d-43ade242c80e](https://user-images.githubusercontent.com/44559893/80028617-963ff900-850f-11ea-941e-66a1e856bfee.png)

[2020-04-22 20:15] scraido commented on #177
not look like that, your is like mine; https://github.com/harmony-one/staking-dashboard/issues/187
but i don't know why jb close my #187 issue, and kept your #317?,,

but this #177 issue is about making a neat of tx history list, like what show in explorer,,
Delegation transaction History
Undelegation transaction History
Deposit transaction History
Withdrawal transaction History
Self Claim Reward

[2020-04-22 20:17] scraido commented on #187
it's different brother? why you close this? please take a look to #177 i discuss about it's differs there,,

[2020-04-22 22:56] mikedoan commented on #177
we should be able to do it now. it's WIP. please ping me

[2020-04-23 17:33] mikedoan commented on #387
we will fix it shortly

[2020-04-23 17:35] mikedoan commented on #385
acknowledge- We will propose an impromevement

[2020-04-23 17:44] mikedoan commented on #385
@BrunoMarshall how about adding something like password protection

![image](https://user-images.githubusercontent.com/40258599/80131688-73353980-854f-11ea-9b04-5cf062621ce3.png)

[2020-04-23 17:46] mikedoan commented on #375
fyi - @gupadhyaya is working on providing proper data soon

[2020-04-23 17:54] mikedoan commented on #344
this one is pending - waiting from an RPC from ganesh.

[2020-04-24 23:37] gizemcakil commented on #285
I am reopening this issue since delegations with 0 value still show up on the dashboard.

@mattlockyer can we add a filter to leave out 0 delegations?

also tagging @MaggieWang-Harmony for tracking

example from validator: https://staking.harmony.one/validators/one1vusgu2vytafhfczp7kqj6jvquvgx7nequ2zcjz

![image](https://user-images.githubusercontent.com/45907268/80264707-d60afb80-8649-11ea-921e-0

[2020-04-25 00:01] MaggieWang-Harmony opened #452 "Quick UI changes (easy to implement right away, no data dependency)"
Quick UI changes (easy to implement right away, no data dependency)
--
1. lag between two browsers
![image](https://user-images.githubusercontent.com/55899206/80265930-32701a00-864e-11ea-8d4e-1e03859bee9c.png)

2. Portfolio allocation not accurate, a gap in the circle
![image](https://user-images.githubusercontent.com/55899206/80265132-5bdb7680-864b-11ea-9753-9f6e7ad04c77.png)

3. 10 seconds count

[2020-04-25 19:42] mindstyle85 opened #390 "unelected validator shows elected on dashboard if sharing the same bls key"
so i tried Ionut's test with copying some validator name and identity, and used my old bls key from
https://staking.harmony.one/validators/one1s7fp0jrmd97estwye3mhkp7xsqf42vn5x2sfqy

and i didnt remove it from this validator, but now im running this one with it:
https://staking.harmony.one/validators/one1ck0z2umfwy73wdsjy3cleznamakxejmx5asfaf

so my original validator appears elected even though i

[2020-04-26 03:49] SebastianJ opened #391 "An excessive number of validators seem to break the staking dashboard"
P-OPS and I are currently conducting some stress tests on OSTN and one of these tests generates a lot of validators.

After generating a couple of thousand validators the staking dashboard eventually gets super slow to load (and is often not being able to load anything at all), and it'll also occasionally show duplicated validator information.

See screenshots below:

Staking dashboard not being a

[2020-04-26 10:23] denniswon commented on #391
db reset and issue resolved. the root cause will be resolved at the protocol level by this pr https://github.com/harmony-one/harmony/pull/2883

[2020-04-26 10:24] #391 closed

[2020-04-27 17:47] gizemcakil opened #392 "Batch of simple UI fixes from Delegator feedbacks"
Quick UI changes (easy to implement right away, no data dependency)
--
1. few seconds lag between extension and pop-up window. Extension shows tx as confirmed first, and it takes a few seconds until this is reflected in the popup window.
![image](https://user-images.githubusercontent.com/55899206/80265930-32701a00-864e-11ea-8d4e-1e03859bee9c.png)

2. Portfolio allocation chart is not accurate. The

[2020-04-27 17:53] MaggieWang-Harmony opened #393 "Quick UI changes (easy to implement right away, no data dependency)"
Quick UI changes (easy to implement right away, no data dependency)
--
1. lag between two browsers
![image](https://user-images.githubusercontent.com/55899206/80265930-32701a00-864e-11ea-8d4e-1e03859bee9c.png)

2. Portfolio allocation not accurate, a gap in the circle
![image](https://user-images.githubusercontent.com/55899206/80265132-5bdb7680-864b-11ea-9753-9f6e7ad04c77.png)

3. 10 seconds count

[2020-04-27 17:55] #393 closed

[2020-04-27 19:19] MaggieWang-Harmony commented on #392
11. remove the comma in "Rate, %"
![image](https://user-images.githubusercontent.com/55899206/80411150-8c582600-8880-11ea-8cd2-144ad54a0099.png)
12. notification when delegate is good
![image](https://user-images.githubusercontent.com/55899206/80411359-ee189000-8880-11ea-9e5d-18b4731b8d94.png)
but notification when undelegate is not logical flow. mayb remove "would you prefer to redelegate"
![imag

[2020-04-28 20:49] mattlockyer commented on #392
@potvik

1. Yuriy
2. Matt
3. Yuriy
4. Matt
5. Yuriy
6. Matt
7. Matt
8. Matt
9. Matt
10. Matt
11. Matt
12. Matt
13. TBD (Matt)

[2020-04-28 21:55] mattlockyer commented on #392
4 done

[2020-04-28 22:00] mattlockyer commented on #392
6 done

[2020-04-28 22:11] mattlockyer commented on #392
7 done

[2020-04-28 22:39] mattlockyer commented on #392
8 done

[2020-04-28 22:41] mattlockyer commented on #392
9 done

[2020-04-28 22:55] mattlockyer commented on #392
10 disabled... don't have a good fix right now

[2020-04-28 22:56] mattlockyer commented on #392
11 done

[2020-04-28 22:57] mattlockyer commented on #392
12 done

[2020-04-29 05:11] MaggieWang-Harmony commented on #392
amazing productivity!
one more small fix:
should change into "signed and sent to the network"
![image](https://user-images.githubusercontent.com/55899206/80562600-0087ec00-899d-11ea-974a-ad32246cdd7b.png)

[2020-04-29 12:38] potvik commented on #392
change into "signed and sent to the network" - Done
3 - done

[2020-04-30 04:28] MaggieWang-Harmony commented on #392
![image](https://user-images.githubusercontent.com/55899206/80672013-4b1e6c80-8a60-11ea-92f2-daeeb190c571.png)
i still see the comma do i need to reinstall the extension?

[2020-04-30 06:12] MaggieWang-Harmony commented on #392
cannot sort by "status"
![image](https://user-images.githubusercontent.com/55899206/80678005-e28abc00-8a6e-11ea-810f-bedeb93d9519.png)

[2020-04-30 16:01] #392 closed

[2020-05-02 00:45] koen84 opened #400 "Equal stakes unequal percentages and 1 $ONE missing"
I made 7 delegations of 10K each.  They show as 6x 17% and 1x 15%.
Also total stake counts as 69,999 ONE rather than 70,000.

![OSTN-(un)equalStakes-priv](https://user-images.githubusercontent.com/8461454/80850957-01c84b80-8c1f-11ea-9434-d76beac4f722.png)

[2020-05-02 06:23] sharma66mahesh opened #401 ""Returned in" field is empty in staking.harmony.one's portfolio page"
After undelegating from a validator, in the "pending undelegations" section of the 'portfolio' page, the "returned in" column field is empty. It should be showing after how many epochs my undelegated tokens would be returned.
![Capture](https://user-images.githubusercontent.com/24717327/80856888-92c61380-8c6d-11ea-961c-b74a84a689be.PNG)

[2020-05-02 06:26] sophoah opened #402 "undelegation are not shown in the staking explorer"
See screenshot of the delegator page one1xzdaskthnxwjt696mp6n4n7zdc9r6qrqp3ff07 :
![image](https://user-images.githubusercontent.com/35721420/80856890-6f589400-8c80-11ea-897d-17dad6b38090.png)
![image](https://user-images.githubusercontent.com/35721420/80856933-c3637880-8c80-11ea-9136-e3ab06c401c5.png)

and from the current validator info:
[code]

here is the snippet showing the current undelegati

[2020-05-02 06:45] sophoah commented on #401
thanks for the report it is a duplicate with https://github.com/harmony-one/staking-dashboard/issues/402. I'll close that one for now.

[2020-05-02 18:52] mindstyle85 commented on #344
closing this one, dont see any NaN bids anymore currently

[2020-05-02 18:52] #344 closed

[2020-05-02 22:59] mindstyle85 opened #407 "past epoch shows wrong data"
![pastepoch](https://user-images.githubusercontent.com/55639830/80894162-0d784880-8cd9-11ea-9ae6-d4cfef4dd7fb.png)

as you can see on the screenshot, epoch 70 doesnt show some validators, like Soph and Bitmax

[2020-05-03 08:08] BrunoMarshall commented on #384
Checked today and Ankr is exporting now wallet.key
So the user need to go to CLI to convert the files
steps:

1. export wallet.key from Ankr
2.  ./hmy keys import-ks Wallet_Keystore.key --passphrase
3.  ./hmy keys export-private-key one1xptoxptoxptoyxptoxptoxptoxptoxpto --passphrase
4  import the private key to staking explorer

****Proposal:**
Import directly the Wallet_Keystore.key into Staking

[2020-05-03 09:56] BrunoMarshall opened #408 "Staking Dashboard - Delegation under 1000 shows wrong message"
small typo, delegations under 1000 shows wrong message:
![image](https://user-images.githubusercontent.com/35432495/80911147-d8014880-8d34-11ea-9cae-18fa53b80c18.png)

the correct message should be : Delegations need to be higher than 1000

Or the best is to check the current user balance and say:
Not enough funds to delegate, minimum 1000

[2020-05-03 10:24] joesixpack commented on #408
Also ignores the validator's set min delegation.

[2020-05-03 10:26] joesixpack commented on #379
The logos aren't being shown at all (from the merges).

[2020-05-03 12:15] koen84 opened #409 "Sorting by status doesn't work"
Trying to sort by "status" (because you want to quickly see the unelected ones) doesn't work.

![OSTN-sortStatus](https://user-images.githubusercontent.com/8461454/80913905-6c28db00-8d48-11ea-8f99-b1d8ffec97d8.png)

[2020-05-03 12:24] koen84 opened #410 "Internationalisation of numbers separators"
Looks like most numbers are "zero decimals" with a "," as thousands separators (anglosaksian way).  Across the world there's different ways of doing these thousands separators and while crypto die-hards might have gotten used to this, i think it's not the most newcomer friendly.

In a different project i've done this patch to JS code :
replace
`$("#supply").text(json.data[0].supply);`
with
`$("#su

[2020-05-03 13:28] yelllowsin commented on #294
This still remains in current version:
![image](https://user-images.githubusercontent.com/7217595/80915443-c9ad2f80-8d28-11ea-81d1-c6755b09fe60.png)

[2020-05-03 21:25] yelllowsin opened #411 "Transfer Funds transaction links to wrong place on Block Explorer"
When tranfering funds on Staking Dashbord, the link for the tx on the block explorer is wrong. It is redirecting to a staking tx instead of a normal tx.

Correct link should be:

`https://explorer.os.hmny.io/#/tx/0xca381e83d63c2602013c88740d3914a3ff7a8c6e620d661baaf1651fb2ee5a23`

![image](https://user-images.githubusercontent.com/7217595/80926055-1154ab00-8d6b-11ea-964d-1c4cc2c5b668.png)

![image

[2020-05-03 23:26] MaggieWang-Harmony opened #412 "Batch of Quick UI fixes"
3.  should be "signed and sent **to** the net work"

![image](https://user-images.githubusercontent.com/55899206/81142066-5e7b7d00-8f23-11ea-91c2-1accdd9d0f08.png)

4. keep the pop up window open during the signing stage unless "x" button is clicked

[2020-05-04 23:17] ivorytowerdds opened #413 "transaction number showing not correct"
In the staking dashboard, the total txs from all shards doesn't match the number the total txs of the address.
![image](https://user-images.githubusercontent.com/34232522/81022155-c2b61800-8e21-11ea-8eba-83f6c10644b3.png)
There are two rpc call, `hmy_getTransactionCount` and `hmy_getTransactionsCount` the first one is from blockchain, and the second one is from the explorer db, my assumption is th

[2020-05-04 23:32] gizemcakil opened #414 "Make default sort based on Expected return (descending) and add ranking functionality"
Currently the validators page is default ranked by total stake. Can we change this to default sorted by expected return?

I also noticed expected return doesn't have a ranking button (triangle)

<img width="1678" alt="image" src="https://user-images.githubusercontent.com/45907268/81023309-d020d180-8e24-11ea-81fb-73ade64d289b.png">

[2020-05-04 23:36] ivorytowerdds commented on #413
the issue should be in harmony-dashboard.

[2020-05-04 23:36] #413 closed

[2020-05-05 02:45] gizemcakil commented on #410
@potvik is this something simple to implement without many dependencies?

[2020-05-05 08:43] BrunoMarshall opened #415 "APR% shows higher than rewards received"
**APR%** definition is the **Annual Percentage Return Rate** from each Validator

I have done a small test to see if the APR% values are correct. I have created a delegator ( one159h80syujml77x03mgd3p4ehck6pderfnazrkv ) delegating the same amount (4763) to 282 elected validators, after 24 hours i got the results.

Assuming APR=20%   my expectation is annual return = 927.4 One (staking 4637) = dail

[2020-05-05 09:03] BrunoMarshall commented on #415
Just to add more info, the APR% from this validator was constant in this 24 hours:
![image](https://user-images.githubusercontent.com/35432495/81050341-1c6d1f80-8ec0-11ea-9537-1d6ca85fbac8.png)

[2020-05-05 12:34] mindstyle85 opened #416 "dashboard should show epoch number"
i think we need to show in which epoch we are on the default validator page, as well as time until next epoch (currently its shown only in portfolio section)

[2020-05-05 12:36] mindstyle85 commented on #415
extending this to @rlan35 as it might not be a dashboard problem at all..

[2020-05-05 13:17] yelllowsin commented on #296
Confirmed that this is still not working in the latest version of dashboard. When i try to collect rewards it shows the tx is being signed, then closes it afterwards and does not collect anthing at all.

[2020-05-05 18:16] rlan35 commented on #387
Is this fixed?

[2020-05-06 01:04] Dewansahil commented on #407
@mindstyle85 and @sophoah  can you verify if we can close this issue?

[2020-05-06 01:08] Dewansahil commented on #415
@gupadhyaya and @ivorytowerdds can you please review this case? It's not a dashboard issue, but an economics testing case.

[2020-05-06 01:36] mindstyle85 commented on #407
yes, this one looks ok now, closing it

[2020-05-06 01:36] #407 closed

[2020-05-06 03:51] coolcottontail commented on #296
Is there a way to copy the transaction number here ? We can check it in the explorer to see if the tx is confirmed by the blockchain ?

[2020-05-06 04:10] coolcottontail commented on #296
also the same claim reward works if using chrome extension to sign ?

[2020-05-06 05:53] MaggieWang-Harmony commented on #412
2. delegator list might be a bit long

![https://s3-us-west-2.amazonaws.com/secure.notion-static.com/ff3ff28e-0842-42b7-89eb-375fc4bb1f7c/Untitled.png](https://s3-us-west-2.amazonaws.com/secure.notion-static.com/ff3ff28e-0842-42b7-89eb-375fc4bb1f7c/Untitled.png)

3.  should be "signed and sent **to** the net work"

![https://s3-us-west-2.amazonaws.com/secure.notion-static.com/7469906a-f7c5-446f-8f

[2020-05-06 09:54] sophoah commented on #412
hi @MaggieWang-Harmony, I am assigning that to @mikedoan, @potvik to look at 3) and 4) if they are ok to use that issue to track it.

for 1), we have already one issue created #402
for 2) what is the issue ? I am not sure to understand
for 3) and 4) happens for time to time @potvik @mikedoan can we use that issue #412 to track that ? or you prefer another one ?
for 5) we need to allow unstaking to

[2020-05-06 12:09] yelllowsin commented on #296
Hey @coolcottontail , i can't copy the tx because by that i see it is not even being generated (at least not on screen). I also monitored the [blockexplorer](https://explorer.os.hmny.io/) in real time for CollectRewards txs and i don't see it there. If the tx had succeeded my rewards would have dropped to 0, but that doesn't happen, the rewards are still in the dashboard. So everything seems to po

[2020-05-07 03:10] MaggieWang-Harmony commented on #412
@sophoah what do you think of this suggestion
push warning when un-delegate for validator account: Total Self Stake after undelegated must be higher than min-self-delegation

[2020-05-07 03:28] MaggieWang-Harmony opened #419 "return to page 1 by default when checking validators on page 2-6"
return to page 1 by default when checking validators on page 2-6

[file:///Users/maggiewang/Downloads/Staking%20Dashboard%20for%20harmony.webm](file:///Users/maggiewang/Downloads/Staking%20Dashboard%20for%20harmony.webm)

[2020-05-07 03:33] MaggieWang-Harmony commented on #419
checking validator on page 2
![image](https://user-images.githubusercontent.com/55899206/81251614-88db4200-8fd8-11ea-9bd7-e19dc4f91da4.png)

forced back to page1 after i checked a validator detail
![image](https://user-images.githubusercontent.com/55899206/81251708-c4760c00-8fd8-11ea-8eda-607d8e2a0d1c.png)

[2020-05-07 05:59] peekpi opened #420 "Testing for staking.hmny.io"
- Bug:
Requests HTTP resources from HTTPS and is blocked by the browser.
![2021588830223_ pic](https://user-images.githubusercontent.com/5905653/81259280-3480a280-906a-11ea-9e42-91be8246c624.jpg)
- Latency:
I accessed the [url](http://staking.hmny.io/networks/harmony-open-staking/validators_with_page?active=false&page=0&search=&size=100&sortOrder=desc&sortProperty=total_stake) from Beijing, it was

[2020-05-07 19:19] MaggieWang-Harmony commented on #419
@sophoah plz help me have a check

[2020-05-07 23:15] mindstyle85 commented on #390
@potvik i saw not reproducable.. it is:

1. create a validator A, use bls key X, make sure its elected. Then stop the node, let it get kicked out
2. create validator B, use bls key X to register then make sure its elected. You should then see validator A show as elected on the dashboard too

[2020-05-08 00:49] sophoah commented on #390
there was a PR merged to avoid that situation @mindstyle85 https://github.com/harmony-one/harmony/pull/2883

[2020-05-08 01:15] mindstyle85 commented on #390
ah correct, just not shipped to ostn yet

[2020-05-08 13:39] sophoah commented on #419
no first time I am seeing it @MaggieWang-Harmony and i confirmed the issue, i could replicate it.

I categorizing it as UI design bug but not a stopper for mainnet.

[2020-05-08 14:24] scraido commented on #317
brother it's related to #187

#177 is for display a neat history display as text, like what show in explorer,,
Delegation transaction History
Undelegation transaction History
Deposit transaction History
Withdrawal transaction History
Self Claim Reward transaction History
Delegate to other Claim Reward transaction History

Ty,,

[2020-05-08 16:10] yelllowsin commented on #294
Looks good to me in the latest version. Now you can copy the url, which makes it easier for the end user. Closing this one.

[2020-05-08 16:10] #294 closed

[2020-05-08 16:34] yelllowsin commented on #408
@BrunoMarshall This looks ok now with the latest commit. You cannot delegate lower than 1k anymore which is the minimum. Closing this one.

[2020-05-08 16:34] #408 closed

[2020-05-08 16:38] scraido commented on #177
you can make the neat tx history list of what i mean like this btw,, and this is for #177 differs with your #317, yours is like my #187,,

![txhistory-done](https://user-images.githubusercontent.com/44559893/81427262-c381dd80-9184-11ea-885c-490d0e3da5b6.png)

[2020-05-08 18:53] gizemcakil commented on #414
@potvik can we add a secondary rule that incorporates uptime?
Feedback coming from @Chainode

Thinking something like this:
- First rank by expected return
- Filter out 'validators with uptime <90%' and put them in the bottom of the list (but they should still be ranked by expected return within them

[2020-05-09 02:48] #401 closed

[2020-05-10 17:26] MaggieWang-Harmony opened #422 "Real quick fixes on typos and small issues"
![image](https://user-images.githubusercontent.com/55899206/81505991-42bc0200-92a8-11ea-92c1-dd2e046afb4b.png)

two labels overlap when clicking on "show on ledger"
should remove "click to show on ledger" label as the name self-reveals and users already see it before clickon

[2020-05-10 17:42] MaggieWang-Harmony commented on #422
![image](https://user-images.githubusercontent.com/55899206/81506388-c7a81b00-92aa-11ea-90d9-801c0bb09919.png)
"Transfer funds", **f** in funds should be capital letter

[2020-05-11 20:32] MaggieWang-Harmony commented on #422
should be "signed and sent to the network"
image
![image](https://user-images.githubusercontent.com/55899206/81608945-e8946d00-938b-11ea-9542-196a5465e14d.png)

[2020-05-11 20:33] #412 closed

[2020-05-11 22:38] #379 closed

[2020-05-12 21:05] MaggieWang-Harmony commented on #422
align the article using "the validator"
![image](https://user-images.githubusercontent.com/55899206/81745304-6ffbe200-9459-11ea-8032-4098c5964ed3.png)

![image](https://user-images.githubusercontent.com/55899206/81745334-7f7b2b00-9459-11ea-90ed-698fa3716660.png)

![image](https://user-images.githubusercontent.com/55899206/81745338-85710c00-9459-11ea-8b1c-ab5da3ae3e01.png)

[2020-05-12 21:28] MaggieWang-Harmony commented on #422
@sophoah can you help check and assign it

[2020-05-14 00:58] MaggieWang-Harmony opened #424 "NaN transactions on pending undelegation"
a NaN transaction will appear on pending undelegation as a "shadow" of the real undelegation txn i made. @mikedoan @denniswon

![image](https://user-images.githubusercontent.com/55899206/81880699-f50ef600-9542-11ea-9c05-123874a284a2.png)

![image](https://user-images.githubusercontent.com/55899206/81880717-00622180-9543-11ea-8abd-039aafe2da2b.png)

[2020-05-14 19:11] Dewansahil opened #427 "Analytics Page - In the 'Last Epoch' tab, the Median Stake data on the top is incorrect"
![Screen Shot 2020-05-14 at 12 09 30 PM](https://user-images.githubusercontent.com/45057123/81975400-cb55dd80-95db-11ea-85de-6874e7f17c20.png)

The Median Stake is incorrect, it should be 10,000 but it shows 30,000.
This Median stake value needs to be picked from "epos-median-stake"

{     "jsonrpc": "2.0",     "method": "hmy_getSuperCommittees",     "params": [],     "id": 1 } "result": { "result

[2020-05-14 19:13] Dewansahil opened #428 "Make 'Live Epoch' the default landing page when you click on Analytics"

[2020-05-14 20:00] MaggieWang-Harmony opened #429 "Numbers not shown on total pending undelegations ONE"
either remove or fix it @denniswon @mikedoan
![image](https://user-images.githubusercontent.com/55899206/81980061-d102f180-95e2-11ea-8f8e-a80f4fa0450d.png)

[2020-05-14 21:47] Dewansahil opened #430 "This Block number seems incorrect. let's check data source?"
Top right on Validators List and Analytics page of dashboard.
![Screen Shot 2020-05-14 at 2 46 18 PM](https://user-images.githubusercontent.com/45057123/81989305-dfa4d500-95f1-11ea-80cd-dd13f4c8f055.png)

[2020-05-14 21:48] Dewansahil commented on #430
@potvik

[2020-05-14 21:50] Dewansahil opened #431 "After signing delegate transaction using chrome extension, the confirmation screen with transaction hash takes too long >60 seconds to pop up"
Got stuck on this for >60 seconds. Transaction went through but user doesn't get to know fast enough.

![Screen Shot 2020-05-14 at 2 45 22 PM](https://user-images.githubusercontent.com/45057123/81989409-07943880-95f2-11ea-8c15-6381eb338c67.png)

[2020-05-14 21:50] Dewansahil commented on #431
@potvik

[2020-05-15 00:16] yelllowsin commented on #296
Tested on latest version of dryrun, issue is still there.

[2020-05-15 18:06] jhd2best opened #433 "can not import keystore export from chrome extension"
the content of keystore export from chrome extension is a little different from create by hmycli. for example, no **address** field and different length for **CipherText** field.
when i attempt to import by hmycli by `./hmy keys import-ks` command. it return the error message as follows:

[signal SIGSEGV: segmentation violation code=0x1 addr=0x18 pc=0x800852]
goroutine 1 [running]:
github.com/harm

[2020-05-15 19:22] SmartStake commented on #414
i would say have a threshold based on uptime and within a given bucket (good nodes, badly performing nodes), sort all nodes randomly. expected return is a 2 way street, else you will have all 0 fee pools showing on top

[2020-05-15 21:04] JB273 opened #435 "Feature Request: Make Max Fee Change available on Validator page list"
Since the Max Fee Change has a big influence if you have to deal with a "fair" validator I would like to propose to have this on the Validator page list. This will help delegators making even a better choice.

![image](https://user-images.githubusercontent.com/54506968/82095924-56c88f00-9700-11ea-9067-70962a483177.png)

[2020-05-16 01:07] Dewansahil opened #436 "Formatting issue for multi-bls validator with many slots"
![Screen Shot 2020-05-15 at 6 05 58 PM](https://user-images.githubusercontent.com/45057123/82106563-c590f280-96d6-11ea-906d-e05ddc325b0e.png)

[2020-05-16 01:07] Dewansahil commented on #436
@potvik

[2020-05-16 01:21] yelllowsin commented on #436
@potvik I think we can simplify this. Just have the total number of BLS keys for each of the 4 shards. @sophoah had this idea and I like it.

[2020-05-16 01:23] MaggieWang-Harmony commented on #157
![image](https://user-images.githubusercontent.com/55899206/82106966-1e618a80-96d9-11ea-8a2d-d0cf56329604.png)
think it is fixed now we can close this issue

[2020-05-16 01:34] #157 closed

[2020-05-16 15:55] lijiang2087 opened #437 "we should do verified domain and support emails to show authenticity"
we should have some verified badge for validators so we know it's the real binance or hashkey, etc. who is running the validator.

[2020-05-16 19:41] BrunoMarshall commented on #436
Can you close this issue? with the last update from dashboard the slots shows separately and corrected

[2020-05-16 19:41] #436 closed

[2020-05-16 19:48] BrunoMarshall opened #438 "Staking Dashboard - Validator elected (confirmed in CLI) shows "not elected" in Dashboard"
In Mainnet this validator shows elected:
 ./hmy -n https://api.s0.t.hmny.io blockchain validator information ### one14xkvsj8gnwl2tnu9wahfru35x8ppveaqdx5cnf
{
  "id": "0",
  "jsonrpc": "2.0",
  "result": {
    "booted-status": null,
    "current-epoch-performance": {
      "current-epoch-signing-percent": {
        "current-epoch-signed": 2547,
        "current-epoch-signing-percentage": "0.4812925

[2020-05-16 19:50] Dewansahil commented on #438
@potvik

[2020-05-17 02:20] NiteeshHarmony opened #439 "Logos not showing on validator page"
Validator logo icon is not showing on the validator page, but show's when you click on the specific validator.

![Screen Shot 2020-05-16 at 7 17 44 PM](https://user-images.githubusercontent.com/59848994/82134178-ef671980-97a9-11ea-800a-9036c7bc0d3b.png)
Logo icons not showing.

![Screen Shot 2020-05-16 at 7 18 22 PM](https://user-images.githubusercontent.com/59848994/82134187-060d7080-97aa-11ea-91

[2020-05-17 02:28] Dewansahil opened #440 "Claiming rewards not working on Chrome Extension"
just tested with version 0.0.12 freshly installed with my wallet imported, still having issues claiming with Chrome extension @potvik

![unknown-19](https://user-images.githubusercontent.com/45057123/82134298-4faa8b00-97ab-11ea-99f0-659a874d7f31.png)

[2020-05-17 03:27] jhd2best opened #441 "explorer need limit search for address start with one1"
when i search balance by wallet address. i can use the address not start with one1(for example: bnb1). and the page will display a wrong balance. it will mislead users. please make a limit for searching by address.

https://explorer.harmony.one/#/address/bnb1pv5vycd4xe3nu0msrewgf9tmfvam8yr3x6j97q

[2020-05-17 03:34] jhd2best commented on #441
it is same as https://github.com/harmony-one/harmony-dashboard/issues/93. so close it

[2020-05-17 03:34] #441 closed

[2020-05-17 10:34] potvik opened #442 "Add selected network as url prefix"
Add selected network as url prefix

1) We can select network on https://staking.harmony.one/networks
2) Let's save selected network_id in url (as prefix before other path)
3) On page load we need to get network_id from url and set as selected

So on page reloading we will save selected network

[2020-05-17 10:44] potvik opened #443 "Change default sort for Validators list"
Change default sort for this page:

1) First sort by expected return
2) Filter out 'validators with uptime <90%' and put them in the bottom of the list (but they should still be ranked by expected return within them

[2020-05-17 10:45] potvik commented on #443
For this page https://staking.harmony.one/validators

[2020-05-17 11:55] mirrormirage0 opened #451 "Keystore import on Chrome extension doesn't work (Only an issue on Ubuntu)"
Tested on Brave browser
Install version 0.0.13 version of harmony chrome extension
Try to import a keystore file.
The extension closes abruptly . no key imported.

[2020-05-17 23:27] coolcottontail commented on #296
Issue is fixed by Yuri after updating  gasLimit to 25000.

The code is committed to staking dashboard.
https://github.com/harmony-one/staking-dashboard/commit/f33ccfedf2fc4c8adabf5339b19f670d808567d5

[2020-05-18 15:38] mindstyle85 opened #444 "APR shown is wrong"
So like i already reported, APR seems wrong, not sure if its calculating with uptime % correctly and also Lukas's observations:

LUKAS PUBLIC VALIDATORToday at 5:35 PM
@harmony-eng
Are you sure the APR calculation is really ok?

Because when I did reward/staked_in_first_epoch, I had it wayyyy higher.

Observation:
1) those who added/been delegated before the next epoch, have now way worse APR show

[2020-05-18 16:39] mindstyle85 opened #445 "showing wrong number of elected seats"
Showing wrong number of elected seats again, I have 28 elected, but 26 for the next (2 removed recently).
https://staking.harmony.one/validators/one1ju6cn0dtfa3fahuelc6ppj8c2sg2xqn759zxcm

I verified via CLI that dashboard is wrong and should show 28 elected and 26 ready for the next epoch.
@Rongjian Lan | Harmony the issue with APR should be fixed ASAP as it directly affects all of us, then the i

[2020-05-18 16:46] gupadhyaya commented on #444
apr calculation does not use uptime. it is mainly using the total reward earned by the validator in the current epoch and total stake. the bug is that, it is using the current total stake instead of the stake of the validator for the current epoch (stake at the time of last election). will fix this and make it into the next rolling upgrade, however it will only take effect in the next epoch for va

[2020-05-18 17:03] gupadhyaya commented on #444
Writing how the apr is currently computed:

* apr is only available one epoch after the election.
* computed at the last block of every epoch, after the reward for the block is paid.
* apr is computed as follows:

[code]

* finally apr is computed as an average over last 30 epoch aprs (accounts for validators who were active less regularly)

[2020-05-18 17:38] gaia commented on #444
a) May I suggest 2 APR counters: one for the last 10 epochs, the other since day 1?

b) Will APR use uptime from here on?

c) I prefer the term yield. One is validator yield (which includes the effect of less than perfect uptime), the other actual yield (validator yield minus inflation)

Another thing to keep in mind is whether you are using terms your legal team is OK with. Please refer to https:

[2020-05-18 17:44] Dewansahil commented on #445
@potvik

[2020-05-18 17:48] mindstyle85 commented on #445
https://cdn.discordapp.com/attachments/652353409663631365/711989445154570330/unknown.png

reality is: 28 elected, 24 waiting for new epoch

[2020-05-18 17:49] Dewansahil commented on #445
@potvik

[2020-05-18 18:41] gaia commented on #443
I definitely agree with #1.

#2 can be refined. maybe not put them at the bottom, but show them in red? best would be to have a coefficient of yield * uptime.

[2020-05-18 19:06] mirrormirage0 opened #450 "[Feature] Chrome Extension must enforce saving of seed phrase"
# Problem/limitation At Hand
The current text displayed "I understand that lost seeds cannot be recovered" while creating a wallet through the Google Chrome extension is non-intuitive.

We have a real case of a user losing $10K of funds because of overlooking this, and trusting that the Password would suffice, and the extension re-installs would somehow preserve the seed phrases.

**Which componen

[2020-05-18 19:21] yelllowsin commented on #296
Thanks, tested now and i can confirm this is working. Closing.

[2020-05-18 19:21] #296 closed

[2020-05-18 21:48] Dewansahil opened #446 "Add Charts on"

[2020-05-18 21:51] Dewansahil opened #447 "Add charts on 'Next Election' tab of Analytics Page"
1. Seats Elected: This value should be based on the real-time seat allocation. (the data is same as the table on the next election page)
2. Total Stake: Use same value of Total Stake as mentioned on the top of this page. It should be compared to the historical total stake value from last election.
3. Effective Median: Use same value of Effective Median Stake as mentioned on the top of this page. I

[2020-05-18 21:51] Dewansahil commented on #447
@potvik

[2020-05-18 22:36] mindstyle85 commented on #444
i think a 30 epoch average is ok, otherwise just do lifetime, i wouldnt complicate with too many different APRs. The next thing i would do is surely include uptime, as the validators with lower uptime arent necessairy the best in terms of APR. I think that this metric is a must to be included. Otherwise i think its fine.

[2020-05-18 22:41] gizemcakil commented on #447
@Dewansahil I think it only makes sense to show the first chart 'seats elected'

Since election hasn't happened for next epoch, how do we show 'elected seats per shard'? or do we simply show the total seats bidding for each shard (the light blue part)? @potvik

For charts #3 and #4, the data exist in the top of the page. We can add them for the next epoch as well, but it means only adding a new da

[2020-05-18 22:55] Dewansahil commented on #447
agreed. Charts 3 & 4 are redundant and don't add additional value to user since all of this data is charted in last election tab already. Let's only do 'Seats Elected' chart.
For the 'elected seats per shard' we show the real-time seats bidding for each shard.

[2020-05-18 23:08] mindstyle85 commented on #444
WyldkardToday at 1:06 AM
agreed. i'm just saying that the APR calc can seem like a shorthand for those less familiar with delegating / staking and primarily using it to make a decision on who to stake with. Adding a column which takes into consideration post-fee returns would be helpful (or at least more details on the fact that APR doesn't consider fees in the UI)

[2020-05-19 00:14] gaia commented on #444
the common term in the industry is yield, not return, not APR

[2020-05-19 00:14] gaia commented on #444
the common term in the industry is yield, not return, not APR

[2020-05-19 00:18] mindstyle85 commented on #444
we got that from your first post, currently it is named APR, hence we all use APR to reference it.

[2020-05-19 00:45] gizemcakil commented on #447
@Dewansahil The numbers for 'bidding for each shard' will show ~250 per shard (based on what I see from the chart, light blue area). In this case, I'm afraid it doesn't serve the intended purpose again because it doesn't take the eligibility for next epoch into account.

[2020-05-19 15:50] NiteeshHarmony opened #448 "Expected return is low/incorrect"
This FN validator has a low expected return showing. https://staking.harmony.one/validators/one1tqa46jj9ut8zu20jm3kqv3f5fwkeq964t496mx

![](https://cdn.discordapp.com/attachments/627210719766773761/712164139375525929/Screen_Shot_2020-05-18_at_9.45.12_PM.png)

CLI shows 50% return, but dashboard shows 15%.
$ ./hmy blockchain validator information one1tqa46jj9ut8zu20jm3kqv3f5fwkeq964t496mx -n https:

[2020-05-19 18:46] BrunoMarshall commented on #99
I can close this issue , is solved

[2020-05-19 18:46] #99 closed

[2020-05-19 19:15] BrunoMarshall commented on #133
I´m closing this issue, the reward rate shows 0 on all validators that not signed block on mainnet
![image](https://user-images.githubusercontent.com/35432495/82368476-cba80b80-9a15-11ea-8952-2fec629e9cfe.png)

[2020-05-19 19:15] #133 closed

[2020-05-19 19:17] BrunoMarshall commented on #142
i´m closing this issue. It can be re-open if issue is found, currently working ok

[2020-05-19 19:17] #142 closed

[2020-05-19 19:46] BrunoMarshall commented on #158
I tested this today and still happen.
Changed my "max-total-delegation" to : 199999999999999.999999999

In CLI shows **"max-total-delegation": 2e+32,**
![image](https://user-images.githubusercontent.com/35432495/82371134-f5fbc800-9a19-11ea-918f-42f8713fdc5d.png)

-> seems like is currently rounding to : 2e+32
But in Staking Dashboard shows:
![image](https://user-images.githubusercontent.com/354324

[2020-05-19 20:00] BrunoMarshall commented on #177
Staking Dashboard is not showing TX history anymore, added Dennis to this proposal

[2020-05-19 20:03] BrunoMarshall commented on #208
Hi Dennis can we close this issue? i can´t test it because i´m in EU , but i´m assuming that is solved, since was opened 2 months ago.
thank you Dennis

[2020-05-19 20:07] BrunoMarshall commented on #226
I will close this issue, with the latest version the wheel was removed

[2020-05-19 20:07] #226 closed

[2020-05-19 20:12] BrunoMarshall commented on #285
Double-checked today and this issue showing 0 delegations is solved, even for undelegation the delegator is not shown.
Will close this issue
Thank you and let me know if seems ok for you too

[2020-05-19 20:12] #285 closed

[2020-05-19 21:51] Dewansahil commented on #445
@mindstyle85 can you elaborate on this issue, we're not able to understand the entire context

[2020-05-19 22:18] #446 closed

[2020-05-19 23:30] mindstyle85 commented on #445
@Dewansahil if you check just my last post, Lukas played with bls keys. While he has 28 elected bls keys for this epoch -> you can verify this on analytics page on last epoch election where he has 28 seats filled.

During this one however he removed 4 keys so he is bidding with 24 for next election, however his validator dashboard page shows 24 elected in this epoch, while in reality he has 28

[2020-05-20 18:57] #447 closed

[2020-05-20 19:12] gupadhyaya commented on #444
Currently, the APR shown in the dashboard is not fully correct, however the APR caculation logic is fixed properly (https://github.com/harmony-one/harmony/pull/3051). The problem is happening due to already committed APR value for epoch 186 and the fix was added later and only reflect from epoch 187 onwards. Note that APR computation is based on the average of upto latest 30 epochs. We have alread

[2020-05-20 19:17] LeoHChen commented on #444
Two actions needed to fix the APR issue from the root cause.

1. fix explorer node db, rebuild the explorer db (off chain data) from before the staking epoch and re-compute the right APR. We need to update the existing explorer node with the updated db. Not to interrupt the service, we can do it one by one on shard0, using the snapshot @gupadhyaya created already. harmony_db_0 on other shard's exp

[2020-05-20 21:12] gizemcakil opened #449 "Validator profile page doesn't show history"
Charts for stake/delegation history and expected return history shows only for the last epoch.

this validator has been elected since open staking launch, but shows one value in each chart.

<img width="1621" alt="image" src="https://user-images.githubusercontent.com/45907268/82497875-e0cb7b80-9aa3-11ea-965e-06f01ec3ef41.png">

[2020-05-21 00:28] #448 closed

[2020-05-21 00:29] #440 closed

[2020-05-21 00:29] #438 closed

[2020-05-21 00:30] #430 closed

[2020-05-21 00:30] #431 closed

[2020-05-21 14:12] gaia opened #454 "Show % of Outstanding Supply Staked In Validators>Total Network Stake"
In Validators>Total Network Stake, put in parenthesis, below or next to Total Network Stake, what % the number represents of all issued tokens at the moment (or at least epoch boundary)

lower % (not too much being staked) attracts delegators, as it is clear you are an early adopter and is poised to get rewarded for it

high % shows the strength of the network.

[2020-05-21 16:19] gupadhyaya commented on #444
decided against the above approach, as it requires explorer node rollback and update and also all other nodes including external nodes.

to minimize the impact, better way is to add logic for next epoch transition, where the incorrect apr will be fixed. more info: https://github.com/harmony-one/harmony/pull/3070

[2020-05-21 20:10] gupadhyaya commented on #444
so basically, the APR computation remains same as described in https://github.com/harmony-one/staking-dashboard/issues/444#issuecomment-630315125. the rolling upgrade `v5963-v2.1.0-23-g44f6cd6`, has the logic to fix the wrong apr for epoch 186 (the first staking epoch). The logic will only kick in at the epoch 188->189 transition. So, the corrected APR should be available from the first block afte

[2020-05-21 22:09] potvik commented on #443
![image](https://user-images.githubusercontent.com/57394565/82611150-8972fb80-9bc8-11ea-89f0-fca4ba555481.png)

Is it ok?

[2020-05-21 22:24] Dewansahil commented on #443
shouldn't be color coding <90% uptime. we should only do default sort based on uptime for now. need to rethink UI to address the low uptime bit. @potvik

[2020-05-21 22:26] BrunoMarshall commented on #320
This issue seems solved now, Thank you!!

[2020-05-21 22:26] #320 closed

[2020-05-21 22:34] BrunoMarshall commented on #409
Tested this issue today and still have the same result, the status botom dosen´t work:
How to recreate the issue:

1. Open https://staking.harmony.one/validators
2. select All validators
3. Sort all validators by "Status"
![image](https://user-images.githubusercontent.com/35432495/82612770-f3d56d00-9bc3-11ea-8a06-80aa2260f4ec.png)

[2020-05-21 22:41] BrunoMarshall commented on #444
Thanks for the update Ganesha, after the next epoch (epoch 189) i will double check and will close the related issue if solved : https://github.com/harmony-one/staking-dashboard/issues/415

[2020-05-21 23:44] raptor1001 commented on #443
@potvik should I sort by uptime or expected return by default?

[2020-05-22 15:32] lkkkk111 opened #455 "Show max-free in the validator's profile"
**Show max-fee to be shown in the validator profile and stress that it cannot be changed over the lifetime of the validator.**

It’s common to show all 3 rates:
"max-rate"
"rate"
"max-change-rate"
in staking explorers (look at cosmos for example), we're missing the "max-rate".

Delegators will be able see that a validator can’t set up a higher fee than the max-rate. Right now, this can be checked

[2020-05-22 18:31] Danzmegaman commented on #450
Hi there. This is Dan from the Screenshot Taken. for clarity, I was able to recover my keys but not because of anything special, I had saved it and just couldn't remember on what drive (due to all the test net keys) hints why I was asking " is that the only time ever" but if I were to pick a solution it would be the alternative solution. "I acknowledge that I cannot recover my account without my s

[2020-05-23 02:42] raptor1001 commented on #450
@potvik, @Danzmegaman @danbedford @yelllowsin @mirrormirage0
![1](https://user-images.githubusercontent.com/54774811/82719993-38184a00-9c64-11ea-8231-19752653ba85.gif)
Let me know what you guys think about this solution to enforce the users save the seeds.

[2020-05-23 02:53] danbedford commented on #450
This is great @raptor1001! Thanks!

[2020-05-23 13:50] mirrormirage0 commented on #450
Excellent prototype @raptor1001 !

[2020-05-23 13:57] Danzmegaman commented on #450
I agree, the red works. If you ever include a dark mode please be sure to add **bold** to it.

[2020-05-23 14:30] yelllowsin commented on #450
Looks neat, same way that Trust Wallet does on their wallet. I would only change the text in red to this. Push it :) @raptor1001

[2020-05-23 14:35] yelllowsin commented on #451
@potvik i'd check this on MacOS as well. I gave support for a user using Chrome on MacOS + version 0.0.14 via Zoom call and when he clicked on "Recover", the button did absolutely nothing. We had to import it via private key for it to work.

[2020-05-23 16:37] yelllowsin commented on #450
Tested the latest version here with this feature, works nicely for me: https://github.com/harmony-one/staking-dashboard/blob/master/extension_versions/0.0.15.zip

If anyone want's to test,

[2020-05-23 20:22] denniswon commented on #450
Amazing! great work @raptor1001 !

[2020-05-24 02:30] lkkkk111 commented on #455
@potvik

[2020-05-24 14:33] lkkkk111 opened #457 "[Bug] Fix/Check Slots and Elected Slots count in the validator's profile"
Currently if a validator makes a change to his BLS keys, the elected seat count on their validator profile is shown incorrectly. Please also check the calculation for slots, not just elected slots.

Example:
Current epoch, I'm elected with 14 seats.

**UI shows:**
Slots: 14
Elected slots: 14

I remove 2 bls keys, so that effectively from the next epoch, I'd have 12 elected slots, but as of the cur

[2020-05-24 14:36] lkkkk111 opened #458 "Show number of blocks until the epoch change and estimate time in different format than minutes"
Title

[2020-05-24 14:38] lkkkk111 opened #459 "Show % of the network staked and % of network that is staked to every particular validator in the list of validators"

[2020-05-24 14:39] lkkkk111 opened #460 "Add Become a Delegator link below Become a Validator"
Should point to https://docs.harmony.one/home/delegator

[2020-05-24 14:40] lkkkk111 opened #461 "[Enhancement] Add link to the docs or documents explaining EPOS and current ECONOMIC MODEL"

[2020-05-24 14:41] lkkkk111 opened #462 "Add a BUY BUTTON"
Implementation up to you, it can just link to a page showing exchanges and convenient ways to buy $ONE or it can use Carbon.Money API in the future to buy directly through them.

[2020-05-24 14:44] lkkkk111 opened #463 "Change Validator's page layout so it handles long validator names"
Example of a validator that is showing incorrectly, we should avoid ellipsis (thee dots).

https://staking.harmony.one/validators/one1akg6gqea74mmpjvd6qxlmd762v5gfy2e5r7xf2

[2020-05-24 14:46] lkkkk111 opened #464 "Hide .env files from all your harmony repos (not just this one)"
You disclose your API url in this repo, private keys (BUSD contract), etc.

[2020-05-24 14:48] lkkkk111 opened #465 "Backend API of staking explorer is visible to the public and can be DDOS'd"
Make changes so that only you can connect to the API and remove .env file and all critical information from your repos. Might require a little management of the repo and use of --force to rewrite the repo.

[2020-05-24 15:15] lkkkk111 opened #466 "[Enhancement] Show the number of epochs the validator has been successfully elected in"
Provides valuable information to delegators.

[2020-05-24 15:17] lkkkk111 opened #467 "[Enhancement] Show new epoch change time on /validators page too"
The time until the next epoch is missing from /validators page.

[2020-05-24 15:20] lkkkk111 opened #468 "In analytics, rename the "total stake" to something less confusing like "total epoch stake", because we already have "total network stake" with different meaning on /validators page"
Something to think about.

[2020-05-24 15:21] lkkkk111 opened #469 "[Enhancement] Rename effective median stake to just median stake"
Effective is redundant here, it's always effective, also the original document at harmony.one/epos never states "effective median stake"

[2020-05-24 16:45] lkkkk111 opened #470 "[UI Issue] Fix responsive design on mobile devices"
Noticed that for example on iOS Safari on iPhone 6, the text, buttons (elected, all), and other data often exit the boxes where they should have been. Also at some places things are not centered like in the image I'm going to post below.

[2020-05-24 16:47] lkkkk111 commented on #470
![image](https://user-images.githubusercontent.com/65777370/82759656-0e3f5e80-9def-11ea-8aa6-4c9e2f2748fd.png)

[2020-05-24 16:51] lkkkk111 opened #471 "[Bug] Fix median stake (and other numbers shown) when it updates to avoid showing 0 for a short moment"
Title

[2020-05-25 09:22] BrunoMarshall commented on #469
Hello @lkkkk111 the "effective median stake" and "median stake" are **not** the same thing, can you please give me more input where do you want to rename it?

[2020-05-25 09:26] BrunoMarshall commented on #468
Hi @lkkkk111 , I agree with "total epoch stake", will assign Dennis and Gizem to take a look to this proposal. thank you

[2020-05-25 09:29] BrunoMarshall commented on #467
Thanks @lkkkk111 , will assign Dennis

[2020-05-25 09:31] BrunoMarshall commented on #466
thanks @lkkkk111, will assign Dennis and Gizem to take a look.

[2020-05-25 09:35] BrunoMarshall commented on #464
Related to this one: https://github.com/harmony-one/staking-dashboard/issues/465
Thank you @lkkkk111

[2020-05-25 09:44] BrunoMarshall commented on #461
Hello @lkkkk111 , did you check the doc information link?
![image](https://user-images.githubusercontent.com/35432495/82800881-b5b6a280-9e7c-11ea-9e56-d5c6a5b98e71.png)

Please let me know if was this that you were referring, so i can close this issue.  all the information is in the documentation:

![image](https://user-images.githubusercontent.com/35432495/82800857-a899b380-9e7c-11ea-9781-b38ae56

[2020-05-25 15:01] jhd2best opened #472 "chrome extension need feature for import/export accounts"
some of our partner use the old version or offline Zip package of Chrome extension to create wallet. they need to the feature for import/export accounts to backup their keystore or private key and transfer the account from offline version to Chrome extension store online version.

[2020-05-25 20:27] potvik commented on #451
So - let's add link 'Open in new window' - for opening extension in separate tab.

![image](https://user-images.githubusercontent.com/57394565/82841562-3dcd9400-9edf-11ea-83c8-65846a1c25c7.png)

[2020-05-26 00:41] yelllowsin commented on #451
@potvik that should do the trick yeh! This same feature is available on Metamask and is called "Expand view". It would look something like this:

![unknown](https://user-images.githubusercontent.com/7217595/82849884-5f734f00-9ed0-11ea-9b06-76e401807a52.png)
![unknown (1)](https://user-images.githubusercontent.com/7217595/82849888-64d09980-9ed0-11ea-83a5-b0cb9c1480d2.png)

Can you implement this?

[2020-05-26 07:30] BrunoMarshall opened #473 "Staking Dashboard - Desktop and Mobile versions shows diferent Fields - Latest expected return Vs average apr"
The Staking Dashboard currently shown diferent fields for Desktop and mobile versions

- **Latest expected return** is only on the mobile view,
- **average apr** is only in Desktop

**Mobile version:**
![image](https://user-images.githubusercontent.com/35432495/82872390-45b72380-9f33-11ea-82fc-bf88849cacc8.png)
**Desktop Version:**
![image](https://user-images.githubusercontent.com/35432495/828724

[2020-05-26 07:31] BrunoMarshall commented on #473
Assign @denniswon to take a look

[2020-05-26 12:33] potvik commented on #473
May be it is mobile cache???

[2020-05-26 12:37] potvik opened #474 "Add 'Expand View' button to wallet extension"
![image](https://user-images.githubusercontent.com/57394565/82901584-d1967300-9f66-11ea-826a-5d0adb229273.png)

[2020-05-27 23:00] coolcottontail opened #477 "Network fee displayed is not correct"
Can you figure out why it is displayed As 0.000021 ONE ? instead of 0.000025 ONE ?

![image](https://user-images.githubusercontent.com/50373379/83080473-1f78ad00-a033-11ea-860a-2dca53de7784.png)

I checked the actual network fee is  0.000025 in explorer

  Code looks right to me:

https://github.com/harmony-one/staking-dashboard/blob/009a5d8145ac87bc8bc70b15a91d5d6dac0afab4/frontend/src/ActionModa

[2020-05-28 15:09] raptor1001 commented on #474
![proto](https://user-images.githubusercontent.com/54774811/83159090-77a6c200-a0ba-11ea-8961-61288f60478c.gif)
@yelllowsin @potvik What do you think about this?

[2020-05-28 16:06] yelllowsin commented on #474
Straight to the point, yeh! That should work and also fix the issue @mirrormirage0 is having on Linux.

[2020-05-28 16:10] mirrormirage0 commented on #474
Looks great. This will work across all platforms. Will be able to test both Create Wallet and upload keystore on Linux.

[2020-05-28 17:46] potvik commented on #472
So - you need to add functional for
1) export all accounts from Extension localStorage to file
chrome.storage.local.get("accounts", ({ accounts }) => {console.log(accounts)})

2) Recovery all accounts from this file to LocalStorage

[2020-05-28 18:20] gizemcakil opened #481 "Extend committee list for 'next epoch' in Analytics page"
Problem: In order to help small validators get elected, delegators need to see who is right below the cut-off point for next epoch.

Solution: Add all 'eligible to be elected' validators in the same validator list, showing 320 cut-off clearly. Same data should be shown for these (bid, effective, total).

<img width="1617" alt="image" src="https://user-images.githubusercontent.com/45907268/83178092

[2020-05-29 00:43] mindstyle85 commented on #481
@potvik check the 320th slot, currently that one is taken by Chainode (slots 315-320) , however Chainode has 19 slots so there are a few missing after the 320th that still belong to Chainode, but it seems the list just ignores that and shows another validator on slot 321

[2020-05-29 08:16] Chainode opened #483 "Distinguish between elected slots and not elected slots and display them correctly on Analytics"
Problem:
1. On Analytics "Next Election" more than 320 slots are displayed which is great but there is no visual indicator to distinguish between elected and non-elected.

2. For validators having only a couple of their BLS keys in election for next epoch, only those are shown, giving though a wrong feeling/data about the position 321, 322..etc. because these are positions are actually still occup

[2020-05-29 09:56] Chainode opened #484 "Elected slots are displayed wrong"
Problem: After removing 1 BLS key in this epoch, now both slots and elected slots show 18. Previously the validator had 19 keys slots and elected slots. It should actually show slots 18 but elected slots should be 19 as this represents the current election.

![image](https://user-images.githubusercontent.com/53407923/83246880-04c54600-a1a3-11ea-9eae-650f4feb4fb9.png)

[2020-05-29 12:17] #444 closed

[2020-05-29 12:18] mindstyle85 commented on #457
closing this one since its already open, so we dont have doubles

[2020-05-29 12:18] #457 closed

[2020-05-29 12:18] #415 closed

[2020-05-29 12:20] mindstyle85 commented on #484
the issue was already open here too, for reference (closed it now so we dont have duplicates..) https://github.com/harmony-one/staking-dashboard/issues/445

[2020-05-29 12:20] mindstyle85 commented on #445
closing so we dont have duplicates..

[2020-05-29 12:20] #445 closed

[2020-05-29 12:30] #317 closed

[2020-05-29 12:30] #332 closed

[2020-05-29 12:30] #337 closed

[2020-05-29 12:31] #339 closed

[2020-05-29 12:32] #350 closed

[2020-05-29 12:32] #360 closed

[2020-05-29 12:32] #375 closed

[2020-05-29 12:33] #376 closed

[2020-05-29 12:33] #387 closed

[2020-05-29 12:34] #390 closed

[2020-05-29 12:34] #400 closed

[2020-05-29 12:35] #402 closed

[2020-05-29 12:35] #409 closed

[2020-05-29 12:35] #414 closed

[2020-05-29 12:36] #424 closed

[2020-05-29 12:36] #427 closed

[2020-05-29 12:37] #429 closed

[2020-05-29 12:37] #439 closed

[2020-05-29 12:39] mindstyle85 commented on #443
i would sort them randomly upon each refresh, so that every validator can get his spot on the top at some point.. we already have filters in place for those that will want to use those to sort @Dewansahil

[2020-05-29 12:45] mindstyle85 commented on #473
i verify its correct on both so might have been mobile cache

[2020-05-29 12:45] #473 closed

[2020-06-01 05:31] NiteeshHarmony opened #485 "Fee charge visible in portfolio view"
Can we show the fee charged for each delegation in the portfolio view. This will make it easy for individuals to see how much they are paying in fees, and make any adjustments based on that.

![image](https://user-images.githubusercontent.com/59848994/83378718-6990c400-a38e-11ea-80b9-61312e5071a3.png)
Requested by a foundational node.

[2020-06-02 02:40] mirrormirage0 commented on #450
Issue is resolved with version 0.0.15 available at https://github.com/harmony-one/staking-dashboard/blob/master/extension_versions/0.0.15.zip

By using "Expand View" feature. Keystore import and recover account works fine!

[2020-06-02 02:40] #450 closed

[2020-06-02 02:41] mirrormirage0 commented on #451
Issue is resolved in version 0.0.15
https://github.com/harmony-one/staking-dashboard/blob/master/extension_versions/0.0.15.zip

![image](https://user-images.githubusercontent.com/29485946/83474065-2290f480-a49c-11ea-8619-d0a4d05d5c92.png)

[2020-06-02 02:41] #451 closed

[2020-06-02 17:21] NiteeshHarmony opened #486 ""Confirm Password" and "Mnemonic / Private key / Keystore" fields in extension lags when typing"
**Issue**: There is significant lag when typing in "Confirm Password" and "Mnemonic / Private key / Keystore" fields in the extension.This can be seen in both when you create new address and in recover address options.

**Effect**: The lag makes you think you are not typing or that something is wrong. Sometimes you backspace or double type, leading to a more negative experience.

**Solution**: I w

[2020-06-02 22:20] MaggieWang-Harmony opened #487 "[Multi-Delegation] same checkbox controls validators on different pages in the same spot"
![image](https://user-images.githubusercontent.com/55899206/83574949-5ba08780-a4e3-11ea-8c7f-26669bf8f2a1.png)
![image](https://user-images.githubusercontent.com/55899206/83575475-69a2d800-a4e4-11ea-8aaa-c8f35b479b55.png)

by clicking on the checkbox on one page, validators on other pages in the same spot are shown as selected.

[2020-06-03 17:47] gizemcakil commented on #487
when i select and then move to next page it shows as if selects same positions automatically. when i click delegate, i only see the 3 tx in the first page though. so it's almost like i cannot delegate to validtaors in the same position in different pages, which is kinda weird

ideally it should remember the selections from previous page but should allow me to pick new ones in the new page

[2020-06-04 19:32] BrunoMarshall commented on #104
I Will close this proposal because there is works in the direction of the calculation already.
here: https://harmony.validator.services/
Thank you very much for developing this

[2020-06-04 19:32] #104 closed

[2020-06-04 19:35] BrunoMarshall commented on #362
Will close this issue, it´s works as expected.
maybe open other proposals ion the future to have 2 different fields:
-Missed blocks:
-Uptime:
thank you

[2020-06-04 19:35] #362 closed

[2020-06-04 19:37] BrunoMarshall commented on #382
Will close this issue because we have now available Telegram bots that do exactly this.
thank you

[2020-06-04 19:37] #382 closed

[2020-06-04 19:39] BrunoMarshall commented on #318
Will close this proposal, due to the fact that is not planned to have such a interface to easily work with Browser and CLI, specially to turn active and inactive validator status
Thank you

[2020-06-04 19:39] #318 closed

[2020-06-04 19:42] BrunoMarshall commented on #384
Will close this proposal, we have now the option to import keystore file
Thank you
![image](https://user-images.githubusercontent.com/35432495/83803068-301cc900-a6ac-11ea-85db-eabe6941f0e6.png)

[2020-06-04 19:42] #384 closed

[2020-06-04 19:46] BrunoMarshall commented on #83
Hi Mike, can we close this issue?

[2020-06-04 19:47] BrunoMarshall commented on #155
Hi Janet, can we close this issue? or there are works pending?
Thank you

[2020-06-04 19:55] BrunoMarshall commented on #177
Re-checked today the staking explorer and still missing:

- Delegation transaction History

- Undelegation transaction History

- Deposit transaction History

- Withdrawal transaction History

- Self Claim Reward transaction History

- Delegate to other Claim Reward transaction History

[2020-06-04 20:11] BrunoMarshall commented on #356
I will close this issue, the link was added to the staking dashboard.
thank you very much for the proposal
![image](https://user-images.githubusercontent.com/35432495/83805447-3319b880-a6b0-11ea-9324-9331ab0676bf.png)

[2020-06-04 20:11] #356 closed

[2020-06-04 20:19] BrunoMarshall commented on #411
I tested this issue today in Mainnet and worked properly.
we can re-open the issue if you still have issue in other networks
![image](https://user-images.githubusercontent.com/35432495/83806005-1af66900-a6b1-11ea-944e-6f965d94b243.png)
![image](https://user-images.githubusercontent.com/35432495/83806097-3eb9af00-a6b1-11ea-882b-c5a64e8f9119.png)

[2020-06-04 20:19] #411 closed

[2020-06-04 20:32] BrunoMarshall commented on #428
I like this proposal. I´m just adding more information to this issue, currently the name is "next election" and should be the 2default landing page"
## The reason is that "sometimes" we don´t realize that we are checking the last election
![image](https://user-images.githubusercontent.com/35432495/83807160-eaafca00-a6b2-11ea-8a5d-7a50c9845a4a.png)

[2020-06-04 22:22] scraido commented on #177
wow that's really great brother, thank you

[2020-06-05 00:17] janet-harmony commented on #155
@denniswon
Is there something to ping for explorer liveliness now?

[2020-06-08 01:20] yelllowsin commented on #487
I have tested in the latest version and this has been fixed. If the issue comes back we can reopen this.

[2020-06-08 01:20] #487 closed

[2020-06-08 01:24] yelllowsin commented on #486
@NiteeshHarmony i tested this in the latest version 0.0.16 and it working Ok. Can you please recheck this again so we can close or fix this issue if it remains?

[2020-06-08 01:26] yelllowsin commented on #474
Featureworking as expected on version 0.0.16, closing this.

[2020-06-08 01:26] #474 closed

[2020-06-09 19:43] SmartStake opened #492 "[Feature] Dashboard UI improvements to make it neutral for all validators"
# Problem/limitation At Hand
Current dashboard view tends to favor validators that are there from the beginning or are large

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Expected return is higher for validators that were elected from day 1. This makes it un-attractive for other validators to receive new delegations.

**Which component?**
Staking das

[2020-06-09 19:55] yelllowsin commented on #492
This proposal needs to be discussed further. There was some discussion about this on this open issue made by Ionuts (chainnode) already: #284

He proposed the same idea as you, to shuffle validators.

[2020-06-09 21:51] SmartStake commented on #492
Agreed. There are few more items mentioned here like putting the returns and uptime in buckets instead of using hard numbers. Please consider them as well.

[2020-06-11 12:43] natebolam commented on #492
I would propose the expected return be fixed first to show an accurate value instead of the "average return rate" which is what is displayed now - I would consider this a **defect** rather than a feature request. This is very misleading to delegators and should be an easy fix as the correct value is shown on the validator details page. We could then take time to decide on buckets, random sorting,

[2020-06-11 22:37] mirrormirage0 opened #494 "[Feature] Default view on Analytics to be Next Election , instead of Last Election"
# Problem/limitation At Hand

The current default view when we visit the Analytics page https://staking.harmony.one/analytics is "Last Election". Last Election is the past... I believe its better to view the current running election, i.e, the "Next Election" tab by default.

![image](https://user-images.githubusercontent.com/29485946/83323110-ba5ccb80-a26d-11ea-9ee4-1aab69718039.png)

**Which comp

[2020-06-13 15:55] potvik opened #495 "Multi delegation support for: Ledger and Math Wallet"
Multi delegation already integrated for wallet extension.
We need to do the same for Ledger and Math Wallet
+ add display delegation progress like this:

![image](https://user-images.githubusercontent.com/57394565/84573157-6f7f9f80-ada7-11ea-8cb3-6a7964f71455.png)

[2020-06-14 22:02] NiteeshHarmony opened #496 "Remove Validators who have <10k ONEs staked."
Remove validators who have less than 10k ones staked. Mostly seem to be those who created validators and removed staked after not getting elected.

<img width="615" alt="Screen Shot 2020-06-14 at 3 00 54 PM" src="https://user-images.githubusercontent.com/59848994/84605139-d9ec1a80-ae4f-11ea-9a8a-b0bb7b549091.png">

[2020-06-14 22:05] asapteesh opened #497 "Adjust color for undelegation text"
Adjust the black text color for undelegation to the same gray as "staked" and "rewards".

<img width="559" alt="Screen Shot 2020-06-14 at 3 03 49 PM" src="https://user-images.githubusercontent.com/59848994/84605192-42d39280-ae50-11ea-90c9-da34a8f619ce.png">

[2020-06-16 17:45] BrunoMarshall commented on #496
Hi Niteesh, currently is not possible to remove created validators from the chain, i had some conversations with eng. some time ago regarding this topic and we agreed that is not necessary, just removed from eligibility for epos auction. Please let me know your opinion on why you want to remove them

[2020-06-16 17:59] BrunoMarshall commented on #469
Can I close this issue Lukas? please contact me to understand better your proposal. then we can re-open it if is required. thank you

[2020-06-16 17:59] #469 closed

[2020-06-16 18:02] BrunoMarshall commented on #481
will close this issue, the proposal was implemented and works very good, thank you

[2020-06-16 18:02] #481 closed

[2020-06-16 18:07] BrunoMarshall commented on #472
The export accounts was added :
![image](https://user-images.githubusercontent.com/35432495/84811126-af938c00-b00c-11ea-84fc-1c6bb9fe0384.png)
this will save the wallet.key that can be imported.
![image](https://user-images.githubusercontent.com/35432495/84811254-e23d8480-b00c-11ea-822a-d54a83adee2f.png)
will close this issue, please let me know if this is working for you or if there is another is

[2020-06-16 18:07] #472 closed

[2020-06-16 18:13] BrunoMarshall commented on #471
Hi Lukas, I have tested and this seems apparently is now solved. can you please test it and let me know? if issue remains we can re-open it again.
ok from my side.
thank you

[2020-06-16 18:13] #471 closed

[2020-06-16 18:19] BrunoMarshall commented on #467
This proposal was added, thank you!
![image](https://user-images.githubusercontent.com/35432495/84812406-a9061400-b00e-11ea-9131-11b664abfa6d.png)
Will close this issue

[2020-06-16 18:19] #467 closed

[2020-06-16 18:31] BrunoMarshall commented on #466
This was added to the staking and delegation history, where we can see which epoch number, the validator was successfully elected, and also the delegation amount. thank you
![Uploading image.png…]()

[2020-06-16 18:31] #466 closed

[2020-06-16 18:35] #461 closed

[2020-06-16 18:57] BrunoMarshall commented on #452
Hi, here is the status:
1) lag between two browsers
2) Portfolio allocation not accurate, a gap in the circle  **--> Solved**
3) 10 seconds countdown then automatically close Successful delegation or undelegation window.
4) Reported "1 epochs" for pending undelegation  **--> Solved**
5) Allow "copy address"  **--> Solved**
6) Wider "status" column **--> Solved**
7) Disjointed lines **--> Solved**

[2020-06-16 19:00] BrunoMarshall commented on #452
The other line items not solved are somehow subjective, not sure if will be implemented
let me know your opinion, we can close this issue and open a specific line item, just to be more easy to track, Just let me know.
thank you for your proposals

[2020-06-16 19:04] BrunoMarshall commented on #449
Double checked, and this issue is solved, thank you
![image](https://user-images.githubusercontent.com/35432495/84817244-e7063680-b014-11ea-981f-86e55f3003cc.png)

[2020-06-16 19:04] #449 closed

[2020-06-16 19:13] BrunoMarshall commented on #428
there´s is a new issue related to this issue.
due to the fact that the new issue have already the current new names "LAST ELECTION  & NEXT ELECTION" I will close this issue and pin both together, here :  https://github.com/harmony-one/staking-dashboard/issues/494

[2020-06-16 19:13] #428 closed

[2020-06-16 19:20] BrunoMarshall commented on #420
Hello peekpi, can we close this issue?

[2020-06-16 19:23] BrunoMarshall commented on #419
Re-tested and is solved now, i will close this issue. thank you

[2020-06-16 19:23] #419 closed

[2020-06-16 19:25] BrunoMarshall commented on #385
I will close this proposal, because seems over extended the protection

[2020-06-16 19:25] #385 closed

[2020-06-17 04:39] danbedford commented on #296
Claiming rewards via Staking Dashboard is no longer working. I have confirmed I can claim via CLI.

When attempting to claim rewards via Staking Dashboard, clicking on "Confirm and Sign" button just closes the Claim Rewards modal. There is no error displayed.

@yelllowsin @coolcottontail

[2020-06-17 08:11] raptor1001 commented on #495
hey @potvik I don't have any ledger device. how can I test the ledger sign?

[2020-06-17 13:01] yelllowsin commented on #296
hey @danbedford did you try claiming via Ledger or using the chrome extension/mathwallet?

[2020-06-17 13:28] yelllowsin opened #498 "Ledger - Cannot sign txs after devices auto locks"
Hello, there is an annoying issue on dashboard when signing txs using Ledger Nano S. After sometime, Ledger Nano S automatically locks itself for security purposes. It does that when the user is not using the device after some time.

Issue here is that, even if you unlock the device and try to sign any tx via dashboard let's say a Claiming reward tx, it simply closes the window and doesn't tell th

[2020-06-17 13:31] yelllowsin commented on #296
@danbedford i think what happened is that your ledger locked automatically (it does it after some time by default), and when this happens you need to unlock it with the pin, click on "Sign out" then "Sign in" again and only then it will work.

This is annoying because the dashboard doesn't say anything about it, it will simply close the claiming rewards window without giving any notice or error to

[2020-06-18 07:29] #420 closed

[2020-06-19 19:36] potvik opened #500 "Change delegation chart"
Change this chart
![image](https://user-images.githubusercontent.com/57394565/85173925-fedff380-b27c-11ea-80d5-607ca450e89f.png)

to
![image](https://user-images.githubusercontent.com/57394565/85173949-0e5f3c80-b27d-11ea-92cd-e5c68b2b5f78.png)

+ check case for many delegations - it must display correct
![image](https://user-images.githubusercontent.com/57394565/85174072-45355280-b27d-11ea-8f6c-9e